.w3-secondary-l5, .w3-input {
  color: #000 !important;
  background-color: #f4faf4 !important
}

.w3-secondary-l4 {
  color: #000 !important;
  background-color: #dbefdc !important
}

.w3-secondary-l3 {
  color: #000 !important;
  background-color: #b7dfb8 !important
}

.w3-text-secondary-l3 {
  color: #b7dfb8 !important;
}

.w3-secondary-l2 {
  color: #000 !important;
  background-color: #93cf95 !important
}

.w3-secondary-l1 {
  color: #fff !important;
  background-color: #6ec071 !important
}

.w3-secondary-d1 {
  color: #fff !important;
  background-color: #459c48 !important
}

.w3-secondary-d2 {
  color: #fff !important;
  background-color: #3d8b40 !important
}

.w3-secondary-d3 {
  color: #fff !important;
  background-color: #357a38 !important
}

.w3-secondary-d4 {
  color: #fff !important;
  background-color: #2e6830 !important
}

.w3-secondary-d5 {
  color: #fff !important;
  background-color: #265728 !important
}

.w3-secondary-light {
  color: #000 !important;
  background-color: #f4faf4 !important
}

.w3-secondary-dark {
  color: #fff !important;
  background-color: #265728 !important
}

.w3-secondary-action {
  color: #fff !important;
  background-color: #265728 !important
}

.w3-secondary {
  color: #fff !important;
  background-color: #4caf50 !important;
}

.w3-text-secondary {
  color: #4caf50 !important
}

.w3-border-secondary {
  border-color: #4caf50 !important
}

.w3-hover-secondary:hover {
  color: #fff !important;
  background-color: #4caf50 !important
}

.w3-hover-text-secondary:hover {
  color: #4caf50 !important
}

.w3-hover-border-secondary:hover {
  border-color: #4caf50 !important
}


.w3-primary-l5 {
  color: #000 !important;
  background-color: #f0f0f0 !important
}

.w3-primary-l4 {
  color: #000 !important;
  background-color: #cccccc !important
}

.w3-primary-l3 {
  color: #fff !important;
  background-color: #999999 !important
}

.w3-primary-l2 {
  color: #fff !important;
  background-color: #666666 !important
}

.w3-primary-l1 {
  color: #fff !important;
  background-color: #333333 !important
}

.w3-primary-d1 {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-d2 {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-d3 {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-d4 {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-d5 {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-light {
  color: #000 !important;
  background-color: #f0f0f0 !important
}

.w3-primary-dark {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary-action {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-primary {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-text-primary {
  color: #000000 !important
}

.w3-border-primary {
  border-color: #000000 !important
}

.w3-hover-primary:hover {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-hover-text-primary:hover {
  color: #000000 !important
}

.w3-hover-border-primary:hover {
  border-color: #000000 !important
}

.loader {
  border-top-color: #000000 !important;
}

.pagination a.active {
  background-color: #4caf50 !important;
  color: white;
}

.sf-stage-selector__stage {
  background-color: #4caf50 !important;
}

.sf-stage-selector__stage--current ~ .sf-stage-selector__stage {
  background-color: #dcdddd !important;
  color: #747678 !important;
}
