.w3-primary-l5 {
  color: #000 !important;
  background-color: #f3f6fb !important
}

.w3-primary-l4 {
  color: #000 !important;
  background-color: #d7e1f0 !important
}

.w3-primary-l3 {
  color: #000 !important;
  background-color: #afc3e1 !important
}

.w3-primary-l2 {
  color: #fff !important;
  background-color: #86a5d2 !important
}

.w3-primary-l1 {
  color: #fff !important;
  background-color: #5e87c4 !important
}

.w3-primary-d1 {
  color: #fff !important;
  background-color: #39609a !important
}

.w3-primary-d2 {
  color: #fff !important;
  background-color: #335589 !important
}

.w3-primary-d3 {
  color: #fff !important;
  background-color: #2c4b78 !important
}

.w3-primary-d4 {
  color: #fff !important;
  background-color: #264067 !important
}

.w3-primary-d5 {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-primary-light {
  color: #000 !important;
  background-color: #f3f6fb !important
}

.w3-primary-dark {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-primary-action {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-primary {
  color: #fff !important;
  background-color: #3f69aa !important
}

.w3-text-primary {
  color: #3f69aa !important
}

.w3-text-secondary-l3 {
  color: #afc3e1 !important;
}

.w3-border-primary {
  border-color: #3f69aa !important
}

.w3-hover-primary:hover {
  color: #fff !important;
  background-color: #3f69aa !important
}

.w3-hover-text-primary:hover {
  color: #3f69aa !important
}

.w3-hover-border-primary:hover {
  border-color: #3f69aa !important
}

.w3-secondary-l5, .w3-input {
  color: #000 !important;
  background-color: #f3f6fb !important
}

.w3-secondary-l4 {
  color: #000 !important;
  background-color: #d7e1f0 !important
}

.w3-secondary-l3 {
  color: #000 !important;
  background-color: #afc3e1 !important
}

.w3-secondary-l2 {
  color: #fff !important;
  background-color: #86a5d2 !important
}

.w3-secondary-l1 {
  color: #fff !important;
  background-color: #5e87c4 !important
}

.w3-secondary-d1 {
  color: #fff !important;
  background-color: #39609a !important
}

.w3-secondary-d2 {
  color: #fff !important;
  background-color: #335589 !important
}

.w3-secondary-d3 {
  color: #fff !important;
  background-color: #2c4b78 !important
}

.w3-secondary-d4 {
  color: #fff !important;
  background-color: #264067 !important
}

.w3-secondary-d5 {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-secondary-light {
  color: #000 !important;
  background-color: #f3f6fb !important
}

.w3-secondary-dark {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-secondary-action {
  color: #fff !important;
  background-color: #203556 !important
}

.w3-secondary {
  color: #fff !important;
  background-color: #3f69aa !important
}

.w3-text-secondary {
  color: #3f69aa !important
}

.w3-border-secondary {
  border-color: #3f69aa !important
}

.w3-hover-secondary:hover {
  color: #fff !important;
  background-color: #3f69aa !important
}

.w3-hover-text-secondary:hover {
  color: #3f69aa !important
}

.w3-hover-border-secondary:hover {
  border-color: #3f69aa !important
}

.loader {
  border-top-color: #3f69aa !important;
}

.pagination a.active {
  background-color: #3f69aa !important;
  color: white;
}

.sf-stage-selector__stage {
  background-color: #3f69aa !important;
}

.sf-stage-selector__stage--current ~ .sf-stage-selector__stage {
  background-color: #dcdddd !important;
  color: #747678 !important;
}
