.w3-primary-l5 {
  color: #000 !important;
  background-color: #fdf7f3 !important
}

.w3-primary-l4 {
  color: #000 !important;
  background-color: #fae5d5 !important
}

.w3-primary-l3 {
  color: #000 !important;
  background-color: #f4caac !important
}

.w3-primary-l2 {
  color: #000 !important;
  background-color: #efb082 !important
}

.w3-primary-l1 {
  color: #000 !important;
  background-color: #e99559 !important
}

.w3-primary-d1 {
  color: #fff !important;
  background-color: #db6c1d !important
}

.w3-primary-d2 {
  color: #fff !important;
  background-color: #c36019 !important
}

.w3-primary-d3 {
  color: #fff !important;
  background-color: #ab5416 !important
}

.w3-primary-d4 {
  color: #fff !important;
  background-color: #924813 !important
}

.w3-primary-d5 {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-primary-light {
  color: #000 !important;
  background-color: #fdf7f3 !important
}

.w3-primary-dark {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-primary-action {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-primary {
  color: #fff !important;
  background-color: #e47a2e !important
}

.w3-text-primary {
  color: #e47a2e !important
}

.w3-border-primary {
  border-color: #e47a2e !important
}

.w3-hover-primary:hover {
  color: #fff !important;
  background-color: #e47a2e !important
}

.w3-hover-text-primary:hover {
  color: #e47a2e !important
}

.w3-hover-border-primary:hover {
  border-color: #e47a2e !important
}

.w3-secondary-l5, .w3-input {
  color: #000 !important;
  background-color: #fdf7f3 !important
}

.w3-secondary-l4 {
  color: #000 !important;
  background-color: #fae5d5 !important
}

.w3-secondary-l3 {
  color: #000 !important;
  background-color: #f4caac !important
}

.w3-text-secondary-l3 {
  color: #f4caac !important;
}

.w3-secondary-l2 {
  color: #000 !important;
  background-color: #efb082 !important
}

.w3-secondary-l1 {
  color: #000 !important;
  background-color: #e99559 !important
}

.w3-secondary-d1 {
  color: #fff !important;
  background-color: #db6c1d !important
}

.w3-secondary-d2 {
  color: #fff !important;
  background-color: #c36019 !important
}

.w3-secondary-d3 {
  color: #fff !important;
  background-color: #ab5416 !important
}

.w3-secondary-d4 {
  color: #fff !important;
  background-color: #924813 !important
}

.w3-secondary-d5 {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-secondary-light {
  color: #000 !important;
  background-color: #fdf7f3 !important
}

.w3-secondary-dark {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-secondary-action {
  color: #fff !important;
  background-color: #7a3c10 !important
}

.w3-secondary {
  color: #fff !important;
  background-color: #e47a2e !important
}

.w3-text-secondary {
  color: #e47a2e !important
}

.w3-border-secondary {
  border-color: #e47a2e !important
}

.w3-hover-secondary:hover {
  color: #fff !important;
  background-color: #e47a2e !important
}

.w3-hover-text-secondary:hover {
  color: #e47a2e !important
}

.w3-hover-border-secondary:hover {
  border-color: #e47a2e !important
}

.loader {
  border-top-color: #e47a2e !important;
}

.pagination a.active {
  background-color: #e47a2e !important;
  color: white;
}

.sf-stage-selector__stage {
  background-color: #e47a2e !important;
}

.sf-stage-selector__stage--current ~ .sf-stage-selector__stage {
  background-color: #dcdddd !important;
  color: #747678 !important;
}
