<!--<h1>Home</h1>
<lib-sf-timeline [timeLines]="timeLines"></lib-sf-timeline>-->

<div class="w3-row w3-animate-zoom">


  <!-- Content -->
  <div class="w3-main">

    <!-- Header section for the dashboard -->
    <header class="w3-container w3-text-secondary">
      <h5 class="w3-margin-top-xsmall"><i class="fa fa-dashboard"></i> My Dashboard</h5>
    </header>
    <div class="w3-row w3-container w3-margin-bottom">

      <div class="w3-row">
        <app-chart [isChangeWidth]="false" [userId]="userId" [type]="'Dashboard'" [chartWidth]="225"></app-chart>
      </div>
    </div>

    <!--<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <app-dashboard-widget #DashboardWidgetComponent [data]="[{title:'', value:'52'}]" [title]="'Lead'" [cssStyle]="'w3-red'" [cssFont]="'fa-dot-circle-o'"></app-dashboard-widget>
    </div>
    <div class="w3-quarter">
      <app-dashboard-widget #DashboardWidgetComponent [data]="[{title:'Won', value:'99'},{title:'Lost', value:'40'},{title:'Cancel', value:'24'}]" [title]="'Opportunity'" [cssStyle]="'w3-blue'" [cssFont]="'fa-usd'"></app-dashboard-widget>
    </div>
    <div class="w3-quarter">
      <app-dashboard-widget #DashboardWidgetComponent [data]="[{title:'', value:'23'}]" [title]="'Vendors'" [cssStyle]="'w3-teal'" [cssFont]="'fa-paper-plane-o'"></app-dashboard-widget>
    </div>
    <div class="w3-quarter">
      <app-dashboard-widget #DashboardWidgetComponent [data]="[{title:'', value:'50'}]" [title]="'User'" [cssStyle]="'w3-orange'" [cssFont]="'fa-users'"></app-dashboard-widget>
    </div>
  </div>-->
    <!--<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <app-chart-widget></app-chart-widget>
    </div>
    <div class="w3-quarter">
      <app-chart-widget></app-chart-widget>
    </div>
    <div class="w3-quarter">
      <app-chart-widget></app-chart-widget>
    </div>
    <div class="w3-quarter">
      <app-chart-widget></app-chart-widget>
    </div>
  </div>-->
    <div class="w3-panel">
      <div class="w3-container" style="margin:0 -16px">
        <div class="w3-half" *ngFor="let chartConfig of dashboardChartConfigs;index as i;">
          <div class="w3-white w3-round-large w3-margin-right-large">
            <!--This displays a Google Chart with data and a title-->
            <div class="w3-margin w3-animate-opacity">
              <app-angular-google-charts [title]="chartConfig.ChartConfigName"
                                         [type]="(chartConfig.ChartType == 1 ? 'PieChart' : (chartConfig.ChartType == 2 ? 'BarChart' : (chartConfig.ChartType == 3 ? 'ColumnChart' : 'LineChart')))"
                                         [data]="chartConfig.ChartData"
                                         [columns]="lineChartNames"
                                         [options]="lineChartOptions"
                                         [width]="lineChartWidth"
                                         [height]="lineChartHeight">
              </app-angular-google-charts>
            </div>
          </div>
        </div>
        <!-- Container to display a message when no dashboard charts are configured -->
        <div class="w3-row w3-white w3-round-large" *ngIf="dashboardChartConfigs.length <= 0">
          <div class="w3-row w3-center w3-margin w3-animate-opacity">
            <div class="">
              <img src="assets\images\circle.jpg" style="width: 350px;height: 300px;">
              <h4>No chart is configured.</h4>
              <button (click)="gotoDashboardConfig()" class="w3-button w3-round-large w3-white w3-border w3-border-gray">
                Configure
              </button>
            </div>
          </div>
        </div>
        <!--<div class="w3-half">-->
        <!--<h5>Regions</h5>-->
        <!--<div class="w3-white w3-round-large">
          <div class="w3-margin w3-animate-opacity">
            <app-angular-google-charts [title]="lineChartTitle"
                                       [type]="lineChartType"
                                       [data]="lineChartData"
                                       [columns]="lineChartNames"
                                       [options]="lineChartOptions"
                                       [width]="lineChartWidth"
                                       [height]="lineChartHeight">
            </app-angular-google-charts>
          </div>
        </div>
      </div>
      <div class="w3-half">-->
        <!--<h5>To Do</h5>-->
        <!--<div class="w3-white w3-round-large">
          <div class="w3-margin w3-animate-opacity">
            <app-angular-google-charts [title]="columnChartTitle"
                                       [type]="columnChartType"
                                       [data]="columnChartData"
                                       [columns]="columnChartColumns"
                                       [options]="columnChartOptions"
                                       [width]="columnChartWidth"
                                       [height]="columnChartHeight">
            </app-angular-google-charts>
          </div>
        </div>
      </div>
      <div class="w3-half">-->
        <!--<h5>Regions</h5>-->
        <!--<div class="w3-white w3-round-large">
          <div class="w3-margin w3-animate-opacity">
            <app-angular-google-charts [title]="lineChartTitle"
                                       [type]="lineChartType"
                                       [data]="lineChartData"
                                       [columns]="lineChartNames"
                                       [options]="lineChartOptions"
                                       [width]="lineChartWidth"
                                       [height]="lineChartHeight">
            </app-angular-google-charts>
          </div>
        </div>
      </div>
      <div class="w3-half">-->
        <!--<h5>To Do</h5>-->
        <!--<div class="w3-white w3-round-large">
          <div class="w3-margin w3-animate-opacity">
            <app-angular-google-charts [title]="pieChartTitle"
                                       [type]="pieChartType"
                                       [data]="pieChartData"
                                       [columns]="pieChartColumns"
                                       [options]="pieChartOptions"
                                       [width]="pieChartWidth"
                                       [height]="pieChartHeight">
            </app-angular-google-charts>
          </div>
        </div>
      </div>-->
      </div>
    </div>

    <!--<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">

    </div>
  </div>-->
    <!--<hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Countries</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Recent Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="https://www.w3schools.com/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="https://www.w3schools.com/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>
  </div>-->
    <!-- Footer -->
    <!--<footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>-->
    <!-- End page content -->
  </div>


  <!--<div class="w3-container w3-black" style="line-height:4.5;">
    <a class="w3-left w3-margin-right w3-text-secondary">Powerd by Tech CM</a>
    <a class="w3-right w3-margin-right w3-text-secondary">Contact</a>
    <a class="w3-right w3-margin-right w3-text-secondary">Privacy Policy</a>
    <a class="w3-right w3-margin-right w3-text-secondary">Careers</a>
    <a class="w3-right w3-margin-right w3-text-secondary">Sitemap</a>
    <a class="w3-right w3-margin-right w3-text-secondary">About</a>
  </div>-->
</div>
