<div class="w3-container w3-margin">
  <div class="w3-row">
    <h3>Dashboard</h3>
  </div>
  <div class="row w3-text-white w3-center">
    <div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-theme-gradient">Total Companies Registered <strong>({{dashboardStatsDto.registeredCompanies}})</strong></div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-padding-jumbo w3-theme-gradient">Active Companies <strong>({{dashboardStatsDto.inactiveCompanies}})</strong></div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-padding-jumbo w3-theme-gradient">Inactive Companies <strong>({{dashboardStatsDto.activeCompanies}})</strong></div>
    </div>
    <!--<div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-theme-gradient">Total Users Registered <strong>({{dashboardStatsDto.tenantUsers}})</strong></div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-padding-jumbo w3-theme-gradient">Active Users <strong>({{dashboardStatsDto.activeTenantUsers}})</strong></div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-round-large w3-padding-64 w3-margin w3-padding-jumbo w3-theme-gradient">Inactive Users <strong>({{dashboardStatsDto.inactiveTenantUsers}})</strong></div>
    </div>-->
  </div>

</div>
