
@media screen and (min-width: 801px) {
  .pageWidth {
    margin-left: 260px;
  }
  .smallWidth {
    margin-left: 70px;
  }

  .largeWidth {
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px) {
}


