<div class="w3-panel w3-card-2 w3-white w3-small sfcenter w3-margin-top marginform">
  <h4 class="w3-left">Organization</h4>
  <button class="w3-button w3-right w3-secondary w3-round-large w3-margin-top w3-margin-bottom" (click)="addOrganization()">Add Organization</button>
  <app-data-grid [gridHeaders]="gridHeaders" [actions]="actions" [dataSource]="dataSource" [filterColumns]="filterColumns" [apiUrl]="'/api/Organization/GetODataOrganization'" [pageSize]="25"
                 [isResponsive]="false" [isSearchEnabled]="true" [isPaginationEnabled]="true" [pageLengthOptions]="pageLengthOptions" (rowClick)="editOrganization($event);">
  </app-data-grid>
</div>

