<div class="w3-row">
  <br/><div class="w3-card-2 w3-white w3-small w3-margin-left w3-margin-right w3-round-large w3-animate-zoom">
    <br />
    <div class="w3-row w3-padding w3-animate-opacity w3-secondary-l5 w3-border-top w3-border-bottom">
      <div class="w3-left w3-xlarge">
        <b>Referral Source</b>
      </div>
      <button class="w3-button w3-secondary w3-right w3-round-large w3-margin-right" (click)="cancel()">
        <i class="fa fa-reply"></i>
      </button>
      <button permissionCheck="13.2.3" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="createNewField()">+ Add New Field</button>
      <button *ngIf="referrals.ReferralId" permissionCheck="13.2.2" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="addNewReferral()">+ Add Referral Source</button>
      <!--<button *ngIf="referrals.ReferralId" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="addNewOpportunity()">+ Add Opportunity</button>-->
      <button permissionCheck="13.2.1" *ngIf="referrals.ReferralId" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="addNewLead()"> Add Patient</button>
    </div>
    <div class="w3-panel w3-margin-top-small">
      <div class="w3-row">
        <div class="marginform">


          <div class="w3-row">
            <div class="w3-full" *ngIf="referrals?.ReferralId && referrals?.ReferralId > 0 && referrals?.CreatedOn">
              <label class="w3-right"><span class="w3-margin-right">Created On : {{referrals.CreatedOn | date : 'MM/dd/yyyy'}}</span></label>
            </div>
          </div>

          <div class="w3-row">
            <div class="w3-half w3-container">
              <div class="w3-half">
                <input id="inactive" type="checkbox" [(ngModel)]="referrals.Inactive" name="vendorinactive" />
                <label for="inactive">&nbsp;Inactive</label>
              </div>
            </div>

            <!--<div class="w3-half w3-container">
              <div class="w3-half">
                <input id="IsPayCommission" type="checkbox" [(ngModel)]="referrals.IsPayCommission" />
                <label for="IsPayCommission">&nbsp;Pay Commission</label>
              </div>
            </div>-->
          </div>


          <div class="w3-half w3-container">

            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.4">
                <label>Referral Number *</label>
                <input class="w3-input w3-border" type="text" disabled="disabled" [(ngModel)]="referrals.ReferralNumber" [class.w3-border-red]="checkValidation(number)" #number="ngModel" required />
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.5">
                <label>Referral Name *</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.Name" [class.w3-border-red]="checkValidation(name)" #name="ngModel" required />
              </div>
            </div>


            <!--<div class="w3-full">
              <div>
                <label>Referral Status</label>
                <app-customdropdown [getApiPath]="'CustomDropDown/GetStatus'" [selectedValue]="referrals.ReferralStatus" (saveSelectedValue)="referrals.ReferralStatus = ($event)" [saveApiPath]="'CustomDropDown/SaveStatus'"></app-customdropdown>
              </div>
            </div>-->
            <!--<div class="w3-full">
              <label>Industry *</label>
              <app-customdropdown [getApiPath]="'CustomDropDown/GetIndustryType'" [isAddEnabled]="true" [selectedValue]="referrals.Industry" (saveSelectedValue)="referrals.Industry=$event" [saveApiPath]="'CustomDropDown/SaveIndustryType'"></app-customdropdown>
            </div>-->

            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.6">
                <label>Practice/NPI 2</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.CompanyName" />
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.7">
                <label>Funnel *</label>
                <select class="w3-input w3-border" [(ngModel)]="referrals.PipelineGroupId" (change)="getPipeLineByPipeLineGroupId(referrals.PipelineGroupId)">
                  <option [ngValue]="0" disabled>--Select Pipeline--</option>
                  <option [ngValue]="-1">+ New Funnel</option>
                  <option *ngFor="let pipeLineGroup of listPipeLineGroup" [ngValue]="pipeLineGroup.PipelineGroupId">{{pipeLineGroup.Name}}</option>
                </select>
              </div>

            </div>

            <div class="w3-full" permissionCheck="13.2.7">
              <label>Funnel stage</label>
              <div class="sf-stage-selector">
                <label class="{{selectedPipeIndex==i?'w3-display-container sf-stage-selector__stage sf-stage-selector__stage--current':'w3-display-container sf-stage-selector__stage'}} tooltip" (click)="selectedPipeIndex=i;referrals.PipelineId=pipeline.PipelineId" *ngFor="let pipeline of sortBy('DisplayOrder');let i = index">
                  <span class="bottomtooltiptext">{{pipeline.Name}}</span>
                  <i class="fa fa-angle-right w3-text-white fa-3x w3-display-right" style="margin-right: 6px;margin-top: -1px;"></i>
                </label>
              </div>
            </div>

           


            <div class="w3-full" permissionCheck="13.2.8">
              <app-primarycontact [entityId]="entityId" [entityType]="entityType"></app-primarycontact>
            </div>

            <app-customsection [entityType]="entityType" [customFields]="customFields" [alignment]="'left'" [entityId]="entityId" [customFieldValues]="referralLeftCustomFieldValues"></app-customsection>
          </div>
          <div class="w3-half w3-container">

            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.9">
                <label>Referral Type *</label>
                <div class="w3-margin-right-small">
                  <app-customdropdown [getApiPath]="'CustomDropDown/GetReferralDropdown'" [selectedValue]="referrals.ReferralDropdownId" (saveSelectedValue)="referrals.ReferralDropdownId=$event" [saveApiPath]="'CustomDropDown/SaveReferralDrpodown'"></app-customdropdown>
                </div>
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.10">
                <label>Provider Speciality</label>
                <app-customdropdown [getApiPath]="'CustomDropDown/GetProvider'" [isAddEnabled]="true" [selectedValue]="referrals.ProviderTypeId" (saveSelectedValue)="referrals.ProviderTypeId=$event" [saveApiPath]="'CustomDropDown/SaveProviderType'"></app-customdropdown>
              </div>
            </div>

            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.11">
                <label>Security Group *</label>
                <select class="w3-input w3-border" [(ngModel)]="referrals.SecurityGroupId" [class.w3-border-red]="checkValidation(securityGroupId)" #securityGroupId="ngModel" required>
                  <option value="0" disabled>-select-</option>
                  <option *ngFor="let data of lstGroups;" value="{{data.UserGroupId}}">{{data.Name}}</option>
                </select>
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.12">
                <div>
                  <label>Industry</label>
                  <app-customdropdown [getApiPath]="'CustomDropDown/GetIndustryType'" [isAddEnabled]="true" [selectedValue]="referrals.Industry" (saveSelectedValue)="referrals.Industry=$event" [saveApiPath]="'CustomDropDown/SaveIndustryType'"></app-customdropdown>
                </div>
              </div>

            </div>
            
            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.13">
                <div>
                  <label>Assigned To</label>
                  <app-assignedtogrid [assignedToGrid]="assignedToGrid" (sendAssignedId)="selectOwner($event)"></app-assignedtogrid>
                  <!--<app-assignedto (sendAssignedId)="sendaAssignedTo($event)" [assignedTo]="referrals.AssignedTo"></app-assignedto>-->
                </div>
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.14">
                <div>
                  <label>Created By</label>
                  <app-createdby [createdby]="referrals.CreatedBy"></app-createdby>
                </div>
              </div>
            </div>
            <div class="w3-full" permissionCheck="13.2.15">
              <label>Address</label>
              <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.Address" />
            </div>
            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.16">
                <label>City</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.City" />
              </div>
              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.17">
                <label>State</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.State" />
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.18">
                <label>Zip Code</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.ZipCode" />
              </div>

              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.19">
                <label>Country</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.Country" />
              </div>
            </div>

            <div class="w3-row">
              <div class="w3-half" permissionCheck="13.2.20">
                <label>Office Number</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.Telephone" />
              </div>
              <div class="w3-half w3-padding-left-10" permissionCheck="13.2.21">
                <label>Website</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.Website" />
              </div>
            </div>

            <div class="w3-full" permissionCheck="13.2.22">
              <label>Remarks</label>
              <textarea class="w3-input w3-border" type="text" [(ngModel)]="referrals.Reason"></textarea>
            </div>

            <app-customsection [entityType]="entityType" [customFields]="customFields" [alignment]="'right'" [entityId]="entityId" [customFieldValues]="referralRightCustomFieldValues"></app-customsection>
          </div>
        </div>
      </div>
      <div class="w3-bar w3-center w3-margin-top w3-border-secondary">
        <div class="w3-left">
          <!--<button [class]="activeContainer == 'tab3'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab3'" *ngIf="referrals.IsPayCommission ==true">Referral Fee</button>-->
          <button *ngIf="referrals.ProviderTypeId==1" [class]="activeContainer == 'tab8'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab8'">Origin</button>
          <button *ngIf="referrals.ProviderTypeId==2" [class]="activeContainer == 'tab8'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab8'">Origin</button>
          <button *ngIf="referrals.ProviderTypeId==3" [class]="activeContainer == 'tab8'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab8'">Origin</button>
          <button permissionCheck="13.2.23" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab1'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab1'">Contacts ({{contactInformations.length}})</button>
          <button permissionCheck="13.2.24" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab2'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab2'">Notes ({{notesInfos.length}})</button>
          <!--<button *ngIf="partners.PartnerId" [class]="activeContainer == 'tab4'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab4'">Events ({{listVendorEvents.length}})</button>-->
          <button permissionCheck="13.2.25" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab5'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab5'">Patients ({{listOfLeads.length}})</button>
          <button permissionCheck="13.2.26" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab6'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab6'">Files</button>
          <button permissionCheck="13.2.27" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab7'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab7'">Affiliate</button>
          <button permissionCheck="13.2.28" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'tab9'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab9'">Skills</button>
          <button permissionCheck="13.2.29" [disabled]="!referrals.ReferralId" [class]="activeContainer == 'email'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'email'">Email</button>

        </div>
      </div>

      <div *ngIf="activeContainer == 'email'" permissionCheck="13.2.29">
        <div class="w3-margin w3-animate-opacity">
          <div class="w3-row">
            <app-email [entityType]="entityType" [emailDataSource]="emailInfos" [entityId]="entityId"></app-email>
          </div>
        </div>
      </div>

      <div *ngIf="activeContainer == 'tab6'" permissionCheck="13.2.26">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Files</h6>
          <div class="w3-row">
            <app-sf-file-explorer [entity]="entityType" [entityNumber]="entityNumber"></app-sf-file-explorer>
          </div>
        </div>
      </div>
      <div *ngIf="activeContainer == 'tab9'" class="w3-white " permissionCheck="13.2.28">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left">User Skills</h6>
          <div class="w3-row">
            <app-categorylist [entity]="entityType" [categoryType]="2" title="Skill" [selectedValues]="selectedSkillsCategories" [entityId]="entityId" (categoryEmitter)="MapSkillsCategoryValues($event)" (dataEmitter)="SkillData($event)"></app-categorylist>
          </div>
        </div>
      </div>
      <div *ngIf="activeContainer == 'tab8'" class="w3-white ">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small" *ngIf="referrals.ProviderTypeId==1">Origins</h6>
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small" *ngIf="referrals.ProviderTypeId==2">Origins</h6>
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small" *ngIf="referrals.ProviderTypeId==3">Origins</h6>
          <div class="w3-row">
            <div class="w3-full">
              <div class="w3-half w3-container marginform">
                <div class="w3-full">
                  <div>
                    <label>Origin</label>
                    <app-customdropdown [notFilter]="['Partner', 'Referral']" [isAddEnabled]="true" [getApiPath]="'CustomDropDown/GetLeadOriginType'" [selectedValue]="referrals.OriginId" (saveSelectedValue)="referrals.OriginId = $event" [saveApiPath]="'CustomDropDown/SaveLeadOriginType'"></app-customdropdown>
                  </div>
                </div>
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 2">
                    <label>Social Media</label>
                    <select class="w3-input w3-border" [(ngModel)]="referrals.SocialMediaId">
                      <option value="0" disabled>--Select Social Media--</option>
                      <option *ngFor="let socialMediaType of socialMediaTypes" [ngValue]="socialMediaType.Id">{{socialMediaType.Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 2 && referrals.SocialMediaId > 0">
                    <label>{{getSocialMediaTypeNameById(referrals.SocialMediaId) + " Id"}}</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.SocialMediaLink" />
                  </div>
                </div>
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 1">
                    <label>Trade Show Name</label>
                    <select class="w3-input w3-border" [(ngModel)]="referrals.EventId">
                      <option value="0" disabled>--Select Event Show--</option>
                      <option *ngFor="let eventShow of listEventShow" [ngValue]="eventShow.Id">{{eventShow.Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 5">
                    <label>Website</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="referrals.OriginsWebsite" />
                  </div>
                </div>
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 6">
                    <label>Networking</label>
                    <select class="w3-input w3-border" (change)="changeNetWorkContact(referrals.NetworkingId)" [(ngModel)]="referrals.NetworkingId">
                      <option value="0" disabled>--select--</option>
                      <option *ngFor="let networking of listNetworking" [ngValue]="networking.NetworkingId">{{networking.NetworkingName}}</option>
                    </select>
                  </div>
                </div>
                <div class="w3-full" *ngIf="referrals.NetworkingId>0">
                  <div *ngIf="referrals.OriginId == 6">
                    <label>Contact</label>
                    <div class="w3-row" *ngIf="referrals.NetworkContactId">
                      <button class="w3-col s11 w3-input w3-border w3-secondary-theme2 w3-button w3-round-bottom-right-0 w3-round-top-right-0" (click)="viewContactModal(referrals.NetworkingId)">{{getNetWorkContactName(referrals.NetworkContactId)}}</button>
                      <i class="w3-col s1 w3-input w3-border w3-secondary-theme2 w3-button w3-round-bottom-left-0 w3-round-top-left-0" (click)="clearData()">X</i>
                    </div>
                    <button *ngIf="!referrals.NetworkContactId" class="w3-input w3-border w3-secondary-theme2 w3-button" (click)="viewContactModal(referrals.NetworkingId)">--Select Contact--</button>
                  </div>
                </div>
                <div>
                  <div *ngIf="referrals.OriginId == 4">
                    <!--<div class="w3-full">
                      <label>Referral</label>
                    </div>-->
                    <div class="w3-half">
                      <label>Vendor</label>
                      <select class="w3-input w3-border" [(ngModel)]="referrals.VendorId">
                        <option value="0" disabled>--Select Vendor Show--</option>
                        <option *ngFor="let vendor of listVendor" [ngValue]="vendor.VendorId">{{vendor.Name}}</option>
                      </select>
                    </div>
                    <div class="w3-half w3-container">
                      <label>Lead</label>
                      <select class="w3-input w3-border" [(ngModel)]="referrals.LeadId">
                        <option value="0" disabled>--Select Lead--</option>
                        <option *ngFor="let allLeads of listAllLeads" [ngValue]="allLeads.LeadId">{{allLeads.LeadName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w3-full">
                    <div *ngIf="referrals.OriginId == 3">
                      <label>Not Pay Referral Vendor</label>
                      <select class="w3-input w3-border" [(ngModel)]="referrals.NotPayReferralId">
                        <option value="0" disabled>--Select Vendor--</option>
                        <option *ngFor="let notPayReferral of listOfNotPayRefferalVendor" [ngValue]="notPayReferral.VendorId">{{notPayReferral.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <app-customsection [entityType]="leadOriginsEntityType" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="referralOriginLeftCustomFieldValues"></app-customsection>
              </div>
              <div class="w3-container w3-half marginform">
                <div class="w3-full">
                  <div *ngIf="referrals.OriginId == 1">
                    <label>Trade Show Date</label>
                    <input class="w3-input w3-border" placeholder="MM/DD/YYYY" type="datetime-local" [ngModel]="changeFormatDate(referrals.OriginsDate)" (ngModelChange)="referrals.OriginsDate = $event" />
                  </div>
                </div>
                <div class="w3-full">
                  <div>
                    <label>Remarks</label>
                    <div><textarea class="w3-input w3-border" [(ngModel)]="referrals.OriginNotes"></textarea></div>
                  </div>
                </div>
                <app-customsection [entityType]="leadOriginsEntityType" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="referralOriginRightCustomFieldValues"></app-customsection>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeContainer == 'tab1'" class="w3-white " permissionCheck="13.2.23">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Contacts</h6>
          <div class="w3-full">
            <app-contactinformation [dataSource]="contactInformations" [additionalInfo]="false" [entityType]="entityType" [entityId]="entityId"></app-contactinformation>
          </div>
        </div>

      </div>
      <div class="w3-white" *ngIf="activeContainer == 'tab2'" permissionCheck="13.2.24">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Notes</h6>
          <div class="w3-full">
            <app-notesinfo [entityType]="entityType" [notesDataSource]="notesInfos" [entityId]="entityId"></app-notesinfo>
          </div>
        </div>
      </div>
      <div class="w3-white" *ngIf="activeContainer == 'tab7'" permissionCheck="13.2.27">
        <div class="w3-margin w3-animate-opacity">
          <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Affiliate</h6>
          <div class="w3-row">
            <app-categorylist [entity]="entityType" title="Vendor" [selectedValues]="selectedAffiliateCategories" [categoryType]="1" [entityId]="entityId" (categoryEmitter)="MapAffiliateCategoryValues($event)" (dataEmitter)="AffliateData($event)"></app-categorylist>
          </div>
        </div>
      </div>

      <!--<div class="w3-white" *ngIf="activeContainer == 'tab4'">
        <div class="w3-margin w3-animate-opacity">
          <div class="w3-full">
            <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Events</h6>
            <button type="button" (click)="addNewEvent()" class="w3-button w3-secondary w3-border w3-round-large w3-right">New Event</button>
          </div>
          <div class="w3-full">
            <table class="w3-table w3-bordered">
              <thead>
                <tr>
                  <th>Event Number</th>
                  <th>Event Name</th>
                  <th>City</th>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of listVendorEvents" style="cursor:pointer" (click)="viewEvent(event);">
                  <td>{{event.EventNumber}}</td>
                  <td>{{event.Name}}</td>
                  <td>{{event.City}}</td>
                  <td>{{event.Website}}</td>
                </tr>
                <tr *ngIf="listVendorEvents.length == 0">
                  <td>No Records Found.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>-->


      <div class="w3-white" *ngIf="activeContainer == 'tab5'" permissionCheck="13.2.25">
        <div class="w3-margin w3-animate-opacity">
          <div class="w3-full">
            <h6 class="w3-left w3-margin-bottom-small w3-margin-top-small">Patients</h6>
            <div class="w3-full">
              <button type="button" (click)="addNewLead()" class="w3-button w3-secondary w3-border w3-round-large w3-right"> Add Patient</button>
            </div>
          </div>
          <div class="w3-full">
            <table class="w3-table w3-bordered">
              <thead>
                <tr>
                  <th>Patient Name</th>
                  <th>City</th>
                  <th>Company Name</th>
                  <th>Annual Revenue</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lead of listOfLeads" style="cursor:pointer" (click)="viewLead(lead);">
                  <td>{{lead.LeadName}}</td>
                  <td>{{lead.City}}</td>
                  <td>{{lead.CompanyName}}</td>
                  <td>{{lead.AnnualRevenue}}</td>
                </tr>
                <tr *ngIf="listOfLeads.length == 0">
                  <td>No Records Found.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--<div class="w3-white" *ngIf="activeContainer == 'tab3' && referrals.IsPayCommission ==true">
        <div class="w3-margin w3-animate-opacity marginform">-->
          <!--<h6 class="w3-left">Referral</h6>-->
          <!--<div class="w3-row w3-half w3-container">
            <div class="w3-full w3-half">
              <div class="w3-margin-bottom-small">
                <input type="radio" class="w3-radio" name="costGroup" (click)="referrals.IsPerReferralFee=true" [checked]="referrals.IsPerReferralFee ?referrals.IsPerReferralFee:false" />
                <label>&nbsp;Per&nbsp;referral&nbsp;fee</label>
              </div>
              <div class="w3-full w3-margin-right w3-margin-top-small">
                <select class="w3-input w3-border" [(ngModel)]="referrals.ReferralFeeId">
                  <option *ngFor="let referralFee of listReferralFee" [ngValue]="referralFee.Id">{{referralFee.Name}}</option>
                </select>
              </div>
              <div class="w3-full w3-margin-right w3-margin-bottom-small">
                <label>Payment Mode</label>
                <select class="w3-input w3-border" [(ngModel)]="referrals.PaymentModelId">
                  <option *ngFor="let paymentModel of listPaymentModel" [ngValue]="paymentModel.Id">{{paymentModel.Name}}</option>
                </select>
              </div>
              <div class="w3-full w3-margin-right w3-margin-bottom">
                <label>Fee</label>
                <input class="w3-input w3-border" type="text" />
              </div>
            </div>

            <div class="w3-full w3-half">
              <div class="w3-margin-bottom-small">
                <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsPerMonth=true" [checked]="userCost.IsPerMonth ?userCost.IsPerMonth:false" />
                <label>&nbsp;Per&nbsp;month</label>
              </div>
              <div class="w3-margin-right w3-margin-bottom-small">
                <input type="text" class="w3-input w3-border" placeholder="$" [(ngModel)]="userCost.PerMonthCost" />
              </div>
              <div class="w3-margin-right">
                <label></label>
                <input type="text" class="w3-input w3-border" placeholder="Time" [(ngModel)]="userCost.PerMonthTotalHours" />
              </div>
            </div>
          </div>

          <div class="w3-row w3-half w3-container">
            <div class="w3-full w3-half">
              <div class="w3-margin-bottom-small">
                <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsPerLead=true" [checked]="userCost.IsPerLead ?userCost.IsPerLead:false" />
                <label for="perlead">&nbsp;Per&nbsp;lead</label>
              </div>
              <div class="w3-margin-right w3-margin-bottom-small">
                <input type="text" class="w3-input w3-border" placeholder="$" [(ngModel)]="userCost.PerLeadCost" />
              </div>
            </div>

            <div class="w3-full w3-half">
              <div class="w3-full w3-margin-right w3-margin-bottom">
                <label>End of Contract</label>
                <input class="w3-input w3-border" type="date" [ngModel]="changeEstimateDateFormat(referrals.EndOfContract)" (ngModelChange)="referrals.EndOfContract = $event" />
              </div>
            </div>

          </div>
        </div>
      </div>-->
      <div class="w3-margin w3-right">
        <button class="w3-button w3-border w3-round-large w3-margin-right-small" (click)="cancel()">Cancel</button>
        <button class="w3-button w3-secondary w3-border w3-round-large" (click)="saveReferral(referrals)" [disabled]="checkReqValidation(name)||checkReqValidation(number)||checkReqValidation(securityGroupId)">Save</button>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="addCustomToggle" class="w3-modal w3-show">
    <div class="w3-modal-content w3-secondary-button w3-round-large">
      <div class="w3-row">
        <div class="w3-container w3-center">
          <p>Add Field</p>
          <span (click)="closeError()" class="w3-button w3-display-topright">&times;</span>
        </div>
        <app-addnewfield [addCustomToggle]="addCustomToggle" [entityTypeId]="entityTypeId" (dataExist)="dataExist($event)" (saveSuccess)="saveSuccess($event)"></app-addnewfield>
      </div>
    </div>
  </div>
</div>

<div *ngIf="contactModal" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-round-large w3-animate-zoom w3-secondary-button">
    <span (click)="closeContactModal()" class="w3-button w3-round-top-right w3-display-topright">&times;</span>
    <div class="w3-small sfcenter">
      <div class="w3-animate-opacity marginform">
        <div class="w3-row w3-round-large w3-secondary-button w3-container">
          <h5 class="w3-left">Contact Information</h5>
          <button type="button" (click)="addNetworkContact()" class="w3-button w3-margin-top-medium w3-round-large w3-right w3-border w3-secondary mr30">Add New Contact</button>
        </div>
        <div class="w3-row w3-round-bottom-left w3-round-bottom-right w3-padding w3-primary-l4">
          <div class="w3-animate-opacity">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>
                    Action
                  </th>
                  <th>Contact Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of listNetworkContact">
                  <td><button class="w3-button w3-padding-small w3-secondary w3-round-xxlarge" (click)="selectContact(data.Id)">Select</button></td>
                  <td>{{data.ContactName}}</td>
                  <td>{{data.Email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="newContactToggle" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-round-large w3-secondary-button">
    <span (click)="closeToggle()" class="w3-button w3-round-top-right w3-margin-right-small w3-display-topright">&times;</span>
    <div class="w3-small sfcenter w3-margin-top">
      <div class="w3-animate-opacity marginform">
        <div class="w3-row w3-round-large w3-secondary-button w3-container w3-padding">
          <h5 class="w3-left">Contact Information</h5>
        </div>
        <div class="w3-row w3-padding w3-primary-l4">
          <div class="w3-full">
            <div class="w3-full w3-container">
              <label><input type="radio" class="w3-radio" [(ngModel)]="contactInfo.IsMember" [value]="true" name="networktype" />&nbsp;Member</label> &nbsp;&nbsp;
              <label><input type="radio" class="w3-radio" [(ngModel)]="contactInfo.IsGuest" [value]="false" name="networktype" />&nbsp;Guest</label>
            </div>
            <div class="w3-full w3-container">
              <div>
                <input id="contactInfoActive" type="checkbox" [(ngModel)]="contactInfo.Inactive" />
                <label for="contactInfoActive">&nbsp;Inactive</label>
              </div>
            </div>
            <div class="w3-container w3-half">
              <div class="w3-full">
                <label>First Name *</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.FirstName" [class.w3-border-red]="checkValidation(firstName)" #firstName="ngModel" required />
              </div>
              <div class="w3-full">
                <label>Last Name *</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.LastName" [class.w3-border-red]="checkValidation(lastName)" #lastName="ngModel" required />
              </div>
              <div class="w3-full">
                <label>Contact Title *</label>
                <app-customstringdropdown [getApiPath]="'CustomDropDown/GetContactTitle'" [isAddEnabled]="true" [selectedValue]="contactInfo.ContactTitle" (saveSelectedValue)="contactInfo.ContactTitle=$event" [saveApiPath]="'CustomDropDown/SaveContactTitle'"></app-customstringdropdown>
              </div>
              <div class="w3-full">
                <label>Gender</label>
                <app-customdropdown [getApiPath]="'CustomDropDown/GetGender'" [selectedValue]="contactInfo.Gender" (saveSelectedValue)="contactInfo.Gender = $event" [saveApiPath]="'CustomDropDown/SaveGender'"></app-customdropdown>
              </div>
              <div class="w3-full">
                <label>LinkedIn Profile</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.LinkedInProfile" />
              </div>
            </div>
            <div class="w3-container w3-half">
              <div class="w3-full">
                <label>Extension</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.Extension" />
              </div>
              <div class="w3-full">
                <label>Office Number</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.OfficeNumber" />
              </div>
              <div class="w3-full">
                <label>Fax Number</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.FaxNumber" />
              </div>
              <div class="w3-full">
                <label>Cell Number</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.CellNumber" />
              </div>
              <div class="w3-full">
                <label>Email</label>
                <input class="w3-input w3-border" type="text" [(ngModel)]="contactInfo.Email" />
              </div>
            </div>
          </div>
        </div>
        <div class="w3-row w3-round-bottom-left w3-round-bottom-right w3-secondary-button">
          <div class="w3-margin w3-right">
            <button class="w3-button w3-border w3-round-large w3-margin-right" (click)="closeToggle()">Cancel</button>
            <button class="w3-button w3-border w3-round-large w3-secondary" (click)="saveContactInfo(contactInfo)" [disabled]="checkReqValidation(title) || checkReqValidation(firstName) || checkReqValidation(lastName)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
