<br/><div class="w3-row">
  <div class="w3-panel w3-card-2 w3-white w3-small w3-margin-right w3-margin-left marginform w3-round-large">
    <h4 class="w3-left w3-xlarge w3-margin-top w3-margin-bottom"><b>Currencies</b></h4>
    <button permissionCheck="10.3.2" class="w3-button w3-right w3-secondary w3-round-large w3-margin-top w3-margin-bottom" (click)="addCurrency()">Add Custom Currency</button>
    <div class="w3-container">
      <app-data-grid permissionCheck="10.3.1" [gridHeaders]="gridHeaders" [actions]="actions" [dataSource]="dataSource" [filterColumns]="filterColumns" [apiUrl]="'/api/Currency/GetODataCurrency'" [pageSize]="25"
                     [isResponsive]="false" [isSearchEnabled]="true" [isPaginationEnabled]="true" [pageLengthOptions]="pageLengthOptions" (rowClick)="editCurrency($event);">
      </app-data-grid>
    </div>
  </div>
</div>
<br/>
