<div class="w3-row">
  <div class="w3-card w3-white w3-small w3-margin-left w3-margin-right w3-round-large w3-animate-zoom">
    <br />
    <div class="w3-row w3-padding w3-animate-opacity w3-margin-bottom w3-secondary-l5 w3-border-top w3-border-bottom">
      <div class="w3-left w3-container w3-xlarge"><b>Practice</b></div>
      <!--<div class="w3-row w3-left w3-container">
        <div class="w3-row">
          <label class="">
            <b>Patient</b>
          </label>
        </div>
        <div class="w3-row">
          <label class="w3-small" style="cursor:pointer" (click)="editLeadModal()">
            {{getCompanyName(lead.LeadId)}} &nbsp;<i class="fa fa-link" style="color:red;"></i>
          </label>
        </div>
      </div>-->

      <div class="w3-right">
        <!--<a class="w3-button w3-secondary w3-round-large w3-margin-right" (click)="addCustomFields()">+ Add New Field</a>-->
        <button permissionCheck="3.2.4" *ngIf="lead.DealId" class="w3-button w3-right w3-secondary w3-round-large" (click)="gotoSteps()">Go To Steps</button>
        <!--<a class="w3-button w3-right w3-secondary w3-round-large w3-margin-right" (click)="addNewOpportunity()">+ Add Opportunity</a>-->

        <button permissionCheck="3.2.3" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="backToList()">Back To Practice List</button>
        <button permissionCheck="3.2.2" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="backToFunnel()">Back To Funnel</button>
        <button permissionCheck="3.2.1" class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="backToCalendar()">Back To Calendar</button>
        <button class="w3-button w3-right w3-secondary w3-round-large w3-margin-right-small" (click)="reloadCurrentRoute()"><i class="fa fa-refresh"></i> Refresh</button>
      </div>
    </div>

    <div class="w3-container w3-white">



      <div class="w3-full">
        <div class="w3-full" *ngIf="lead?.DealId && lead?.DealId > 0 && lead?.CreatedOn">
          <label class="w3-left w3-margin-left"><span class="w3-margin-right">Created On : {{lead.CreatedOn | date : 'MM/dd/yyyy'}}</span></label>
        </div>
        <button type="button" (click)="createJobOrService(lead)" *ngIf="lead.DealId" class="w3-button w3-secondary w3-border w3-round-large w3-right w3-margin-left-small">Create Appointment</button>
        <button permissionCheck="{{permissionBaseValue}}.5" type="button" (click)="addDealInformationCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>

      </div>


      <div class="">
        <div class="w3-row">

          <div class="w3-full">
            <div class="w3-half w3-container marginform">
              <div class="w3-row">
                <div class="w3-half" permissionCheck="3.2.5">
                  <label>Practice Number*</label>
                  <input class="w3-input w3-border" [(ngModel)]="lead.DealNumber" type="text" disabled="disabled" />
                </div>
                <div class="w3-half w3-padding-left-10" permissionCheck="3.2.6">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>Practice Name *</label>
                    <!--[class.w3-border-red]="checkValidation(nameVali)" #nameVali="ngModel" required-->
                    <input class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.DealName" />
                  </div>

                </div>
              </div>

              <div class="w3-half" permissionCheck="3.2.7">
                <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                     (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                  <label>Funnel *</label>
                  <select class="w3-input w3-border" (dragover)="noAllowDrop($event)" [(ngModel)]="lead.PipelineGroupId" (change)="getPipeLineByPipeLineGroupId(lead.PipelineGroupId)" [class.w3-border-red]="checkValidation(funnel)" #funnel="ngModel" required>
                    <option [ngValue]="0">--Select Pipeline--</option>
                    <option [ngValue]="-1">+ New Funnel</option>
                    <option *ngFor="let pipeLineGroup of listPipeLineGroup" [ngValue]="pipeLineGroup.PipelineGroupId">{{pipeLineGroup.Name}}</option>
                  </select>
                </div>
              </div>
              <div class="w3-row" permissionCheck="3.2.7">
                <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                     (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                  <div class="w3-full">
                    <label>Funnel stage</label>
                    <div class="sf-stage-selector">
                      <label class="{{selectedPipeIndex==i?'w3-display-container sf-stage-selector__stage sf-stage-selector__stage--current':'w3-display-container sf-stage-selector__stage'}} tooltip" (click)="selectedPipeIndex=i;lead.PipelineId=pipeline.PipelineId" *ngFor="let pipeline of sortBy('DisplayOrder');let i = index">
                        <span class="bottomtooltiptext">{{pipeline.Name}}</span>
                        <i class="fa fa-angle-right w3-text-white fa-3x w3-display-right" style="margin-right: 6px;margin-top: -1px;"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w3-full w3-border w3-border-secondary-l5 w3-margin-top" permissionCheck="3.2.8">
                <div class="w3-row w3-secondary-l5 w3-padding-medium w3-cursor w3-border-bottom">
                  <div class="w3-left w3-margin-top-small" (click)="showAddress = !showAddress"><i [ngClass]="showAddress?'fa fa-angle-down' : 'fa fa-angle-right'"></i> <label class="w3-center"> Address</label></div>
                  <div class="w3-right">
                    <div class="w3-margin-right" [ngClass]="lead.LeadId ? '' : 'w3-disabled'">
                      <!--<input id="copyLeadAddress" type="checkbox" (change)="copyAddressFromLead(lead, $event)" />
                      <label for="copyLeadAddress">&nbsp;Copy address from lead</label>-->
                      <!--<button type="button" class="w3-button w3-padding-small w3-small w3-white w3-round-large w3-border w3-border-grey" (click)="copyAddressFromLead(lead, $event)">Copy address from patient</button>-->
                    </div>
                  </div>
                </div>
                <div class="w3-row w3-margin-medium" *ngIf="showAddress">
                  <div class="w3-half">
                    <label>Address</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="lead.Address" />
                  </div>
                  <div class="w3-half w3-padding-left-10">
                    <label>City</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="lead.City" />
                  </div>
                  <div class="w3-half">
                    <label>State</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="lead.State" />
                  </div>
                  <div class="w3-half w3-padding-left-10">
                    <label>Zipcode</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="lead.ZipCode" />
                  </div>
                  <div class="w3-half">
                    <div>
                      <label>Country</label>
                      <input class="w3-input w3-border" type="text" [(ngModel)]="lead.Country" />
                    </div>
                  </div>
                </div>
              </div>
              <app-customsection [entityType]="entityType" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="leftDealCustomFieldValues"></app-customsection>
            </div>
            <div class="w3-container w3-half marginform">
              <div class="w3-row">
                <div class="w3-half" permissionCheck="3.2.14">
                  <label>Practice Status</label>
                  <select class="w3-input w3-border" [(ngModel)]="lead.StatusId">
                    <option [ngValue]="0" disabled>--Select Status--</option>
                    <option *ngFor="let status of listOfStatus" [ngValue]="status.Id">{{status.Name}}</option>
                  </select>
                </div>
                <div class="w3-half w3-padding-left-10" permissionCheck="3.2.15">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>Security Group *</label>
                    <select class="w3-input w3-border" [(ngModel)]="lead.SecurityGroupId" [class.w3-border-red]="checkValidation(securityGroupId)" #securityGroupId="ngModel" required>
                      <option value="0" disabled>-select-</option>
                      <option *ngFor="let data of lstGroups;" value="{{data.UserGroupId}}">{{data.Name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="w3-row">
                <div class="w3-half" permissionCheck="3.2.16">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>
                      Assigned To
                    </label>

                    <app-assignedtogrid [assignedToGrid]="assignedToGrid" (sendAssignedId)="selectAssignedValue($event)"></app-assignedtogrid>
                  </div>
                </div>

                <div class="w3-half w3-padding-left-10" permissionCheck="3.2.17">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>Created By</label>
                    <app-createdby [createdby]="lead.CreatedBy"></app-createdby>
                  </div>
                </div>
              </div>
              <div class="w3-row">
                <div class="w3-half" permissionCheck="3.2.18">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>Color</label>
                    <div class="w3-row">
                      <div class="w3-col s10"><input type="text" (dragover)="noAllowDrop($event)" class="w3-disabled w3-input w3-border" [(ngModel)]="lead.Color" /></div>
                      <div class="w3-col s2"><input class="color-picker" (dragover)="noAllowDrop($event)" value="{{lead.Color ? lead.Color : '#ffffff'}}" type="color" (change)="colorChange($event.target.value)" /></div>
                    </div>
                  </div>
                </div>
                <div class="w3-half w3-padding-left-10" permissionCheck="3.2.19">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>Practice Provider</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="lead.OpportunityProviderId" />
                  </div>
                </div>
              </div>
              <!--<div class="w3-row">
                <div class="w3-half">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label class="w3-cursor" title="start" (click)="setCurrentDateTime()">Start Date</label>
                    <input class="w3-input w3-border" placeholder="MM/DD/YYYY" type="datetime-local" [(ngModel)]="lead.StartDate" />
                  </div>
                </div>
                <div class="w3-half w3-padding-left-10">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                    <label>End Date</label>
                    <input class="w3-input w3-border" placeholder="MM/DD/YYYY" type="datetime-local" [(ngModel)]="lead.EndDate" />
                  </div>
                </div>
              </div>-->
              
              <div class="w3-full" permissionCheck="3.2.20">
                <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                     (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                  <label>Remarks</label>
                  <textarea class="w3-input w3-border" rows="3" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Notes"></textarea>
                </div>
              </div>
              <app-customsection [entityType]="entityType" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="rightDealCustomFieldValues"></app-customsection>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div>
      <div class="w3-bar w3-container w3-center w3-margin-top w3-border-secondary">
        <div class="w3-left">
          <a permissionCheck="3.2.21" *ngIf="lead.DealId" [class]="activeContainer == 'tab5'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab5'">Contact Information ({{contactInformations.length}})</a>
          <a permissionCheck="3.2.22" *ngIf="lead.DealId" [class]="activeContainer == 'tab6'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab6'">Notes ({{notesInfos.length}})</a>
          <a permissionCheck="3.2.23" *ngIf="lead.DealId" [class]="activeContainer == 'tab10'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab10'">Appointment ({{listAllServices.length}})</a>
        </div>
      </div>
    </div>

    <div *ngIf="activeContainer == 'tab10'" class="w3-container w3-white " permissionCheck="3.2.23">
      <div class="w3-animate-opacity">
        <!--<h6 class="w3-left w3-margin-0">Services </h6>-->
        <div class="w3-full w3-container">
          <button permissionCheck="3.2.23.1" type="button" (click)="addNewService(lead)" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add Service</button>
        </div>
        <div class="w3-full w3-container">
          <table class="w3-table w3-bordered">
            <thead>
              <tr>
                <th>Service Number</th>
                <th>Service Name</th>
                <th>Status</th>
                <th>Assignee</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listAllServices">
                <td><a class="hyper-link" (click)="redirectToService(data)">{{data.ServiceNumber}}</a></td>
                <td><a class="hyper-link" (click)="redirectToService(data)">{{data.ServiceName}}</a></td>
                <td>{{data.StatusId == null?'Inprogress':getServiceStatusById(data.StatusId)}}</td>
                <td>{{getAssignedNameById(data.AssignedTo)}}</td>
              </tr>
              <tr *ngIf="listAllServices.length == 0">
                <td>No records</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div *ngIf="activeContainer == 'tab3'" class="w3-container w3-white">
      <div class="w3-full w3-margin-top">
        <button type="button" (click)="addDealPercentCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
      </div>
      <div class="w3-row w3-padding ">
        <div class="w3-full">
          <div class="w3-half marginform">
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Percentage expected of closing</label>
                <input class="w3-input w3-border" placeholder="%" suffix="%" mask="000" type="text" [(ngModel)]="lead.OriginalPercentage" />
              </div>
            </div>
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Actual Percentage</label>
                <input disabled="disabled" class="w3-input w3-border" placeholder="%" suffix="%" mask="000" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Percentage" />
              </div>
            </div>

            <app-customsection [entityType]="dealPercent" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealPercentLeftCustomFieldValues"></app-customsection>
          </div>
          <div class="w3-container w3-half marginform">
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Estimate Date *</label>
                <input class="w3-input w3-border" (dragover)="noAllowDrop($event)" placeholder="MM/DD/YYYY" type="date" [ngModel]="changeEstimateDateFormat(lead.EstimationDate)"
                       (ngModelChange)="lead.EstimationDate = $event" />
              </div>
            </div>
            <app-customsection [entityType]="dealPercent" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealPercentRightCustomFieldValues"></app-customsection>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab7'" class="w3-container w3-white">
      <div class="w3-full w3-margin-top" permissionCheck="{{permissionBaseValue}}.7.1">
        <button type="button" (click)="addDealRequirementsCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
      </div>
      <div class="w3-row w3-padding ">
        <div class="w3-full">
          <div class="w3-half marginform">
            <!--<div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.2">
                <label>Applications Needed</label>
                <input permissionCheck="{{permissionBaseValue}}.7.2" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Application" />
              </div>
            </div>
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.3">
                <label>Key Features Needed</label>
                <input permissionCheck="{{permissionBaseValue}}.7.3" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.KeyFeatures" />
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-full">
                <div class="w3-half">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.4">
                    <label>Price Expectations</label>
                    <input permissionCheck="{{permissionBaseValue}}.7.4" placeholder="$" mask="separator" thousandSeparator="," separatorLimit="9999999999999" prefix="$" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.PriceExpectation" />
                  </div>
                </div>
                <div class="w3-half w3-padding-left-10">
                  <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                       (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.5">
                    <label>Timeframe</label>
                    <input permissionCheck="{{permissionBaseValue}}.7.5" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.TimeFrame" />
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.6">
                <label>Who they've evaluated</label>
                <input permissionCheck="{{permissionBaseValue}}.7.6" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Evaluated" />
              </div>
            </div>-->
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Reasons for shopping</label>
                <input class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Shopping" />
              </div>
            </div>
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Opportunity Requirements</label>
                <input class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.OppRequirements" />
              </div>
            </div>
            <app-customsection [entityType]="dealRequirements" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealRequirementsLeftCustomFieldValues"></app-customsection>
          </div>
          <div class="w3-container w3-half marginform">
            <!--<div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);" permissionCheck="{{permissionBaseValue}}.7.7">
                <label>Deployment</label>
                <input permissionCheck="{{permissionBaseValue}}.7.7" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.Deployment" />
              </div>
            </div>-->
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Remarks</label>
                <textarea rows="3" class="w3-input w3-border" (dragover)="noAllowDrop($event)" [(ngModel)]="lead.OppRequirementRemarks"></textarea>
              </div>
            </div>
            <app-customsection [entityType]="dealRequirements" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealRequirementsRightCustomFieldValues"></app-customsection>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab4'" class="w3-container w3-white">
      <div class="w3-full w3-margin-top">
        <button type="button" (click)="addDealCostCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
      </div>
      <div class="w3-row w3-padding ">
        <div class="w3-full">
          <div class="w3-half marginform">

            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Opportunity Cost</label>
                <input placeholder="$" mask="separator.2" thousandSeparator="," separatorLimit="9999999999999" prefix="$" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="lead.LeadCost" />
              </div>
            </div>
            <div class="w3-full">
              <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                   (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                <label>Actual Amount</label>
                <input placeholder="$" mask="separator.2" disabled="disabled" thousandSeparator="," separatorLimit="9999999999999" prefix="$" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [(ngModel)]="opportunityActualCost" />
              </div>
            </div>


            <app-customsection [entityType]="dealCost" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealCostLeftCustomFieldValues"></app-customsection>
          </div>
          <div class="w3-container w3-half marginform">
            <div class="w3-full">
              <div>

                <div class="w3-row">
                  <div class="w3-col s4">
                    <label>Expected Sales</label>
                    <div class="w3-margin-right-medium">
                      <select class="w3-input w3-border" [ngModel]="lead.ExpectedRevenuId" (ngModelChange)="changeTimeDurationAmount($event)">
                        <option [ngValue]="0" disabled>--Select TimeDuration--</option>
                        <option *ngFor="let timeDuration of listOfTimeDuration" [ngValue]="timeDuration.Id">{{timeDuration.Name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="w3-col s4">
                    <div *ngIf="!(lead.ExpectedRevenuId == 5)">
                      <label>{{getdurationTitle(lead.ExpectedRevenuId)}}</label>
                      <div class="w3-margin-right-medium">
                        <input class="w3-input w3-border" type="number" [(ngModel)]="lead.ExpectedRevenuDuration" />
                      </div>
                    </div>
                  </div>
                  <div class="w3-col s4">
                    <label>{{getCostTitle(lead.ExpectedRevenuId)}}</label>
                    <div class="w3-margin-right-medium">
                      <input placeholder="$" mask="separator.2" thousandSeparator="," separatorLimit="9999999999999" prefix="$" class="w3-input w3-border" type="text" [(ngModel)]="lead.ExpectedRevenuPerDuration" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-full">
              <div class="w3-row">
                <div class="w3-col s8">
                  <div class="w3-margin-right-medium">
                    <div draggable="true" (dragstart)="drag($event)" (drop)="drop($event);"
                         (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                      <label>Total Expected Sales</label>
                      <input disabled="disabled" placeholder="$" mask="separator.2" thousandSeparator="," separatorLimit="9999999999999" prefix="$" class="w3-input w3-border" (dragover)="noAllowDrop($event)" type="text" [ngModel]="calculateExpectedAmount()" />
                    </div>
                  </div>
                </div>
                <div class="w3-col s4">
                  <div class="w3-right w3-container">
                    <!--<div draggable="true" style="margin-top: 18px;" (dragstart)="drag($event)" (drop)="drop($event);"
                         (dragover)="dragOver($event);" (dragleave)="dragLeave($event);">
                      <input id="isRecurrence" type="checkbox" [(ngModel)]="lead.IsRecurrence" name="dealIsRecurrence" />
                      <label for="isRecurrence">&nbsp;IsRecurrence</label>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
            <app-customsection [entityType]="dealCost" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="dealCostRightCustomFieldValues"></app-customsection>
          </div>
        </div>
      </div>
      <div class="w3-container" *ngIf="lead.DealId">
        <div class="w3-bar w3-center w3-margin-top-large w3-margin-bottom-large w3-border-secondary">
          <div class="w3-left">
            <button [ngClass]="showStepsCost?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="showStepsCost = ! showStepsCost">Steps Cost</button>
          </div>
        </div>
      </div>
      <div *ngIf="showStepsCost">
        <div class="w3-responsive w3-container">
          <table class="w3-table-all">
            <thead>
              <tr>
                <th>Steps</th>
                <th>Time Cost</th>
                <th>Material Cost</th>
                <th>Total Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of stepDetails.Item2">
                <td><a class="w3-cursor" (click)="openCostModal(data)">{{data.Item1.StartDate | date:'MM/dd/yyyy HH:mm'}}</a></td>
                <td>${{getTotalTimeCost(data.Item3) | number : '1.1-2'}}</td>
                <td>${{getTotalMaterialCost(data.Item2) | number : '1.1-2'}}</td>
                <td>${{getTotalCost(data.Item3, data.Item2) | number : '1.1-2'}}</td>
              </tr>
              <tr *ngIf="stepDetails.Item2.length > 0">
                <td><b>Total</b></td>
                <td></td>
                <td></td>
                <td>${{getAllTotalCost(stepDetails, 0) | number : '1.1-2'}}</td>
              </tr>
              <tr *ngIf="stepDetails.Item2.length == 0">
                <td>No Records Found.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab9'" class="w3-white ">
      <div class="w3-margin w3-animate-opacity">
        <div class="w3-full">
          <button type="button" (click)="addNewQuote()" class="w3-button w3-secondary w3-border w3-round-large w3-right">New Proposal</button>
        </div>
        <div class="w3-full" permissionCheck="7.2.24.2">
          <table class="w3-table w3-bordered">
            <thead>
              <tr>
                <th gridPermissionCheck="7.2.24.4">Description</th>
                <th gridPermissionCheck="7.2.24.5">Quote Date</th>
                <th gridPermissionCheck="7.2.24.6">Status</th>
                <th gridPermissionCheck="7.2.24.7">Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of listQuote" style="cursor:pointer" (click)="viewQuote(quote);">
                <td gridPermissionCheck="7.2.24.4">{{quote.QuoteDescription}}</td>
                <td gridPermissionCheck="7.2.24.5">{{quote.Date | date : 'MM/dd/yyyy HH:mm'}}</td>
                <td gridPermissionCheck="7.2.24.6">{{quote.StatusId}}</td>
                <td gridPermissionCheck="7.2.24.7">{{quote.FinalPrice}}</td>
              </tr>
              <tr *ngIf="listQuote.length == 0">
                <td>No Records Found.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab5'" class="w3-container w3-white" permissionCheck="3.2.21">
      <div class="w3-row w3-padding ">
        <div class="w3-full">
          <app-contactinformation [dataSource]="contactInformations" [additionalInfo]="false" [entityType]="entityType" [entityId]="lead.DealId" [basePermission]="permissionBaseValue"></app-contactinformation>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab6'" class="w3-container w3-white" permissionCheck="3.2.22">
      <div class="w3-row w3-padding ">
        <div class="w3-full">
          <app-notesinfo [entityType]="entityType" [notesDataSource]="notesInfos" [entityId]="lead.DealId" [basePermission]="permissionBaseValue"></app-notesinfo>
        </div>
      </div>
    </div>
    <div *ngIf="activeContainer == 'tab8'" class="w3-white ">
      <div class="w3-margin w3-animate-opacity">
        <h6 class="w3-left">Files</h6>
        <div class="w3-row">
          <app-sf-file-explorer [entity]="entityType" [entityNumber]="entityNumber"></app-sf-file-explorer>
        </div>
      </div>
    </div>
    <div style="overflow-x:auto;" class="w3-container" *ngIf="dealContacts.length !=0">
      <div class="">
        <div style="display:flex" class="w3-margin-top-large w3-margin-bottom-large">
          <button class="w3-button w3-secondary w3-margin w3-round-large" (click)="stepToggle=!stepToggle">Next Steps >></button>
        </div>
        <div *ngIf="stepToggle">
          <div class="w3-responsive" style="min-height:55vh;">
            <table class="w3-table-all" style="width:140%;">
              <thead>
                <tr>
                  <td><strong>Steps</strong></td>
                  <td><strong>Contact&nbsp;Name</strong></td>
                  <td><strong>Method</strong></td>
                  <td><strong>Value</strong></td>
                  <td><strong>Salesman</strong></td>
                  <td><strong>Assigned&nbsp;To</strong></td>
                  <td><strong>Status</strong></td>
                  <td><strong>Start</strong></td>
                  <td><strong>Notes</strong></td>
                  <td><strong>Actions</strong></td>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let dealContact of dealContacts">
                  <tr>
                    <td>
                      <app-customdropdown [getApiPath]="'CustomDropDown/GetStepTypes'" [isAddEnabled]="true" [selectedValue]="dealContact.StepTypeId" (saveSelectedValue)="dealContact.StepTypeId=$event" [saveApiPath]="'CustomDropDown/SaveStepTypes'"></app-customdropdown>
                    </td>
                    <td>
                      <select class="w3-input w3-border w3-disabled" [(ngModel)]="dealContact.ContactId">
                        <option [ngValue]="0" disabled="disabled">-select--</option>
                        <option *ngFor="let data of contactInformations" [ngValue]="data.Id">{{data.ContactName}}</option>
                      </select>
                    </td>
                    <td>
                      <app-customdropdown [getApiPath]="'CustomDropDown/GetChooseMethod'" [selectedValue]="dealContact.CalendarInviteType" (saveSelectedValue)="dealContact.CalendarInviteType = $event" [saveApiPath]="'CustomDropDown/SaveChooseMethod'"></app-customdropdown>
                    </td>
                    <td>
                      <input type="text" *ngIf="dealContact.CalendarInviteType==1" class="w3-input w3-border w3-disabled" placeholder="Zoom Id" [(ngModel)]="dealContact.ZoomId" />
                      <input type="text" *ngIf="dealContact.CalendarInviteType==2" class="w3-input w3-border w3-disabled" placeholder="Cell Number" [(ngModel)]="dealContact.CellNumber" />
                      <input type="text" *ngIf="dealContact.CalendarInviteType==3" class="w3-input w3-border w3-disabled" placeholder="Email Id" [(ngModel)]="dealContact.Email" />
                      <input type="text" *ngIf="dealContact.CalendarInviteType==4" class="w3-input w3-border w3-disabled" placeholder="Office Number" [(ngModel)]="dealContact.OfficeNumber" />
                    </td>
                    <td>
                      <select class="w3-input w3-border w3-disabled" [(ngModel)]="dealContact.SalesMan"><option *ngFor="let userDetail of users" [ngValue]="userDetail.UserId">{{userDetail.FirstName}}</option></select>
                    </td>
                    <td>
                      <select class="w3-input w3-border w3-disabled" [(ngModel)]="dealContact.AssignedTo"><option *ngFor="let userDetail of users" [ngValue]="userDetail.UserId">{{userDetail.FirstName}}</option></select>
                    </td>
                    <td>
                      <app-customdropdown [getApiPath]="'CustomDropDown/GetCompletedStatus'" [isAddEnabled]="true" [selectedValue]="dealContact.CompletedStatusId" (saveSelectedValue)="dealContact.CompletedStatusId = $event" [saveApiPath]="'CustomDropDown/SaveCompletedStatus'"></app-customdropdown>
                    </td>
                    <td>
                      <div class="w3-row">
                        <!--<button title="Calendar" class="w3-button w3-border w3-disabled w3-col w3-white" (click)="OpenCalendarPopup(dealContact);calendarFor='contact'" style="width:15%;padding:2px 2px;">
                          <i class="fa fa-calendar-plus-o"></i>
                        </button>-->
                        <div class="w3-rest">
                          <input type="datetime-local" class="w3-input w3-border" disabled="disabled" [ngModel]="changeDealContactFormatDate(dealContact.StartDate)"
                                 (ngModelChange)="dealContact.StartDate = $event" />
                        </div>
                      </div>
                    </td>
                    <td>
                      <textarea class="w3-input w3-border w3-disabled" rows="1" [ngModel]="bindNotes(dealContact.Notes, dealContact, i)" (ngModelChange)="dealContact.Notes = $event"></textarea>
                    </td>
                    <td permissionCheck="6.5.14.6">
                      <button class="w3-button w3-secondary w3-round-large w3-padding-top-xsmall w3-padding-right-medium w3-padding-left-medium w3-padding-bottom-xsmall" (click)="viewNotes(dealContact)">View Notes</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-margin w3-right" permissionCheck="{{permissionBaseValue}}.11">
        <button permissionCheck="{{permissionBaseValue}}.11" [disabled]="isSaveDisabled" class="w3-button w3-secondary w3-border w3-round-large" (click)="saveDeal()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="addCustomToggle" class="w3-modal w3-show">
    <div class="w3-modal-content w3-secondary w3-round-large w3-secondary-button">
      <div class="w3-row">
        <div class="w3-container w3-center">
          <p>Add Field</p>
          <span (click)="closeError()" class="w3-button w3-display-topright">&times;</span>
        </div>
        <app-addnewfield [addCustomToggle]="addCustomToggle" [entityTypeId]="entityTypeId" (dataExist)="dataExist($event)" (saveSuccess)="saveSuccess($event)"></app-addnewfield>
      </div>
    </div>
  </div>
</div>


<div *ngIf="wonToggle">
  <div class="w3-modal w3-show">
    <div class="w3-modal-content w3-secondary w3-round-large w3-secondary-button">
      <div class="w3-row">
        <div class="w3-container w3-center">
          <div class="w3-padding">Add Actual Amount</div>
          <span (click)="closeError()" class="w3-button w3-display-topright">&times;</span>
        </div>
        <app-actualamount [deal]="lead" (saveSuccess)="saveWonAmount($event)"></app-actualamount>
      </div>
    </div>
  </div>
</div>




<div *ngIf="notesToggle" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-round-large">
    <div class="w3-container">
      <span (click)="closenotesToggle()" class="w3-button w3-display-topright">&times;</span>
      <div class="w3-white w3-small sfcenter w3-margin-top">
        <div class="w3-margin w3-animate-opacity">
          <div class="w3-row">
            <h5 class="w3-container">Notes</h5>
          </div>
          <div class="w3-row w3-padding">
            <div class="marginform">
              <div class="w3-full">
                <table class="w3-table w3-bordered">
                  <thead>
                    <tr>
                      <th>Created By</th>
                      <th>Created On</th>
                      <th>Note</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="listViewNotes.length == 0">
                    <tr>
                      <td>No Records</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="listViewNotes.length > 0">
                    <tr *ngFor="let data of listViewNotes">
                      <td>{{data.split('|~data~|')[0]}}</td>
                      <td>{{data.split('|~data~|')[1]}}</td>
                      <td>{{data.split('|~data~|')[2]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="costToggle" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-round-large">
    <div class="w3-container">
      <span (click)="closeCostModal()" class="w3-button w3-margin-right-small w3-display-topright">&times;</span>
      <div class="w3-small sfcenter w3-margin-top">
        <div>
          <div class="w3-bar w3-container w3-center w3-margin-top w3-border-secondary">
            <div class="w3-left w3-container">
              <a [class]="activeContainer == 'TimeCost'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'TimeCost'">TimeCost</a>
              <a [class]="activeContainer == 'MaterialCost'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'MaterialCost'">MaterialCost</a>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'TimeCost'" class="w3-container w3-white">
          <div class="w3-responsive w3-container w3-margin-bottom w3-margin-top">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>Time Cost</th>
                  <th>Time(In minutes)</th>
                  <th>Total Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of listOfTimeCost">
                  <td>{{data.Cost}}</td>
                  <td>{{data.TotalTime}}</td>
                  <td>{{parseNumber(data.Cost * (data.TotalTime / 60))}}</td>
                </tr>
                <tr *ngIf="listOfTimeCost.length > 0">
                  <td><b>Total</b></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="listOfTimeCost.length == 0">
                  <td>No Records Found.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="activeContainer == 'MaterialCost'" class="w3-container w3-white">
          <div class="w3-responsive w3-container w3-margin-bottom w3-margin-top">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>ProductId</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of listOfMaterialCost">
                  <td>{{data.ProductId}}</td>
                  <td>{{data.Quantity}}</td>
                  <td>{{data.Price}}</td>
                  <td>{{parseNumber(data.Quantity * data.Price)}}</td>
                </tr>
                <tr *ngIf="listOfMaterialCost.length == 0">
                  <td>No Records Found.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="contactModal" class="w3-modal" style="display:block;">
  <div class="w3-modal-content w3-round-large w3-animate-zoom w3-secondary-button">
    <span (click)="closeContactModal()" class="w3-button w3-round-top-right w3-display-topright">&times;</span>
    <div class="w3-small sfcenter">
      <div class="w3-animate-opacity marginform">
        <div class="w3-row w3-round-large w3-secondary-button w3-container">
          <h5 class="w3-left">Contact Information</h5>
          <button type="button" (click)="addNetworkContact()" class="w3-button w3-margin-top-medium w3-round-large w3-right w3-border w3-secondary mr30">Add New Contact</button>
        </div>
        <div class="w3-row w3-round-bottom-left w3-round-bottom-right w3-padding w3-primary-l4">
          <div class="w3-animate-opacity">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>
                    Action
                  </th>
                  <th>Contact Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of listNetworkContact">
                  <td><button class="w3-button w3-padding-small w3-secondary w3-round-xxlarge" (click)="selectContact(data.Id)">Select</button></td>
                  <td>{{data.ContactName}}</td>
                  <td>{{data.Email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
