
<div class="flex-container w3-theme-gradient">
  <div class="container">
    <div class="w3-card w3-round-large w3-padding w3-white">
      <h2 class="w3-center">
        ADMIN
      </h2>
      <div class="w3-container">
        <div class="w3-margin-top w3-center">
          <button class="w3-button w3-text-white w3-grey w3-mobile w3-round-large w3-theme-gradient " (click)="loginRedirect()">Login</button>
          <div class="w3-mobile w3-hide-large w3-hide-medium w3-margin-top">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
