<section id="home">
    <div class="heading">
        <h3>Health<br> Information<br> Network</h3>			
        <h2 class="forgot-password">
            Need an<br>appointment ?
        </h2>
    </div>
    <div class="forgot-pwd-box-1">
       <div class="text-box">
       <div class="spacer"></div>
       <div class="border-left"></div>
       <div class="text"><p>Click the below link and fill the the details. We will get back to you via your registered email / phone number.</p></div>
       </div>
    </div>
    <div class="forgot-pwd-box-2">
       <div class="email-box">
       <label>Already a user ?</label>
         <!-- <input type ="email" required> -->
          <div class="button-submit"><button type="button" (click)="loginRedirect()">Login Using Microsoft Account</button></div>
        </div>
    </div>
    <div class="learmore-button">
    <a href="#">Basic Form</a>
    </div>
    
    <div class="footer">
        <div class="footer-right"><span class="created-by">Created By:</span><a href="https://weccode.com/"><img src="../../assets/images/logo.png"></a></div>
    </div>
</section>