<div *ngIf="passwordValidation" class="row">
  <div class="w3-modal w3-show">
    <div class="w3-modal-content w3-secondary w3-round-large w3-secondary-button">
      <div class="w3-row">
        <div class="w3-container w3-center">
          <p>Enter Password</p>
          <span (click)="closePasswordToggle()" class="w3-button w3-display-topright">&times;</span>
        </div>
        <div class="w3-container w3-tiny w3-primary-l4">
          <div class="w3-row w3-margin-bottom marginform">
            <div class="w3-half">
              <div class="w3-full w3-margin-right">
                <input type="password" class="w3-input w3-border" [(ngModel)]="verificationCode" />
              </div>
            </div>
            <div class="w3-half">
              <div class="w3-third">
                <button class="w3-button w3-round-large w3-secondary" (click)="verifyPassword(verificationCode)">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="w3-card-2 w3-white w3-small w3-margin-right w3-margin-left w3-round-large w3-animate-zoom">
  <br />
  <div class="w3-row w3-padding w3-animate-opacity w3-secondary-l5 w3-border-top w3-border-bottom w3-margin-bottom-small">
    <div class="w3-left w3-xlarge">
      <b>User</b>
    </div>
    <!--<input *ngIf="user.UserId" type="button" (click)="EnableOnedrive()" class="w3-button w3-right w3-round-large w3-secondary" value="Enable Onedrive" />-->
    <input type="button" (click)="MainUserCustomField()" class="w3-button w3-right w3-round-large w3-secondary w3-margin-right-small" value="Add New Field" />
    <input *ngIf="user.UserId" type="button" class="w3-button w3-right w3-round-large w3-secondary w3-margin-right-small" (click)="addNewUser()" value="Add New User" />
  </div>
  <div class="w3-container">
    <div class="w3-full">
      <div class="marginform">
        <!--<div class="">
          <h4 class="w3-center w3-full">WELCOME TO K9 LEAD GEN</h4>
          <p class="w3-center w3-margin-xsmall w3-full">Create a password to set up your account.</p>
        </div>
        <div class="w3-right">
          <input type="button" class="w3-button w3-round-large w3-secondary w3-margin-right" value="Add New User" />
          <input type="button" class="w3-button w3-round-large w3-secondary" value="Add New Feild" />
        </div>-->
        <div class="w3-container">
          <div class="w3-row">
            <div class="w3-half">
              <div class="w3-half">
                <input id="inactive" type="checkbox" [(ngModel)]="user.IsActive" />
                <label for="inactive">&nbsp;Active</label>
              </div>
              <div class="w3-half">
                <input id="isSales" type="checkbox" [(ngModel)]="user.IsSales" />
                <label for="isSales">&nbsp;Sales</label>
              </div>
            </div>
            <div class="w3-half">
              <div class="w3-half">
                <input id="isTwoFactorEnabled" type="checkbox" [(ngModel)]="user.IsTwoFactorEnabled" />
                <label for="isTwoFactorEnabled">&nbsp;TwoFactor Enabled</label>
              </div>
              <div class="w3-half">
                <input id="isAdmin" type="checkbox" [(ngModel)]="user.IsAdmin" />
                <label for="isAdmin">&nbsp;Admin</label>
              </div>
            </div>
          </div>


          <div class="w3-half">
            <div class="w3-full w3-margin-right">
              <label>First name*</label>
              <input class="w3-input w3-border" type="text" [(ngModel)]="user.FirstName" [class.w3-border-red]="checkValidation(first)" #first="ngModel" required>
            </div>
            <div class="w3-full w3-margin-right">
              <label>User name*</label>
              <input class="w3-input w3-border" type="text" [(ngModel)]="user.UserName" [class.w3-border-red]="checkValidation(username)" #username="ngModel" required>
            </div>

            <div class="w3-full w3-margin-right" permissionCheck="10.1.1.2.6">
              <label>Password *</label>
              <input class="w3-input w3-border" type="password" permissionCheck="10.1.1.2.6" [(ngModel)]="user.Password" [class.w3-border-red]="checkValidation(password)" #password="ngModel" required>
            </div>
            <div class="w3-full w3-margin-right" permissionCheck="10.1.1.2.7">
              <label>Repeat password *</label>
              <input class="w3-input w3-border" type="password" permissionCheck="10.1.1.2.7" [(ngModel)]="user.ConfirmPassword" [class.w3-border-red]="checkValidation(cPassword)" #cPassword="ngModel" required>
            </div>
            <div class="w3-full w3-margin-right" permissionCheck="10.1.1.2.8">
              <label>Cell number</label>
              <input class="w3-input w3-border" type="text" permissionCheck="10.1.1.2.8" [(ngModel)]="user.CellNumber" pattern="[0-9]+" placeholder="Only numbers">
            </div>
            <div class="w3-full w3-margin-right" permissionCheck="10.1.1.2.10">
              <label>Skills</label>
              <input class="w3-input w3-border" type="text" [(ngModel)]="user.Skills" permissionCheck="10.1.1.2.10">
            </div>
            

            <!--<div class="w3-full " permissionCheck="10.1.1.2.12">
    <label>Security role</label>
    <select class="w3-input w3-border" [(ngModel)]="user.RoleId" permissionCheck="10.1.1.2.12">
      <option value="0">--Select Security role--</option>
      <option *ngFor="let role of lstRoles" [ngValue]="role.RoleId">{{role.RoleName}}</option>
    </select>
  </div>-->
            <div class="w3-full w3-margin-right">
              <app-customsection [entityType]="entityType" [alignment]="'left'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="userLeftCustomFieldValues"></app-customsection>
            </div>
          </div>
          <div class="w3-half">
            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.3">
              <label>
                Last name*
              </label>
              <input class="w3-input w3-border" type="text" permissionCheck="10.1.1.2.3" [(ngModel)]="user.LastName" [class.w3-border-red]="checkValidation(last)" #last="ngModel" required>
            </div>
            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.5">
              <label>Email*</label>
              <input class="w3-input w3-border" type="text" permissionCheck="10.1.1.2.5" [(ngModel)]="user.Email" [class.w3-border-red]="checkValidation(email)" #email="ngModel" required>
            </div>

            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.7">
              <label>Admin password *</label>
              <input class="w3-input w3-border" type="password" [(ngModel)]="user.AdminPassword" [class.w3-border-red]="checkValidation(aPassword)" #aPassword="ngModel" required>
            </div>
            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.7">
              <label>Confirm Admin password *</label>
              <input class="w3-input w3-border" type="password" [(ngModel)]="user.ConfirmAdminPassword" [class.w3-border-red]="checkValidation(caPassword)" #caPassword="ngModel" required>
            </div>
            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.9">
              <label>Phone number</label>
              <input class="w3-input w3-border" type="text" permissionCheck="10.1.1.2.9" [(ngModel)]="user.PhoneNumber" mask="(000) 000-0000" [showMaskTyped]="true">
            </div>
            <div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.11">
              <label>Cost per hour</label>
              <input class="w3-input w3-border" type="text" permissionCheck="10.1.1.2.11" [(ngModel)]="user.CostPerHour">
            </div>
            <!--<div class="w3-full w3-margin-left" permissionCheck="10.1.1.2.13">
    <label>Groups</label>
    <select class="w3-input w3-border" [(ngModel)]="user.GroupId" permissionCheck="10.1.1.2.13">
      <option value="0">--Select group--</option>
      <option *ngFor="let group of lstGroups" [ngValue]="group.UserGroupId">{{group.Name}}</option>
    </select>
  </div>-->
            <div class="w3-full w3-margin-left">
              <app-customsection [entityType]="entityType" [alignment]="'right'" [customFields]="customFields" [entityId]="entityId" [customFieldValues]="userRightCustomFieldValues"></app-customsection>
            </div>
          </div>
        </div>
        <div class="w3-container">
          <div class="w3-bar w3-center w3-margin-top w3-border-secondary">
            <div class="w3-left">
              <button permissionCheck="10.1.1.2.14" [class]="activeContainer == 'tab1'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab1'">Skills</button>
              <button permissionCheck="10.1.1.2.15" [class]="activeContainer == 'tab2'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab2'">Security Groups</button>
              <button permissionCheck="10.1.1.2.16" [class]="activeContainer == 'tab3'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab3'">Cost</button>
              <button permissionCheck="10.1.1.2.17" [class]="activeContainer == 'tab4'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab4'">Employee Type</button>
              <button permissionCheck="10.1.1.2.18" [class]="activeContainer == 'tab5'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab5'">Country</button>
              <button [class]="activeContainer == 'tab6'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab6'">Calculation</button>
              <button [class]="activeContainer == 'tab7'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab7'">Minimum Goal(Quota)</button>
              <button [class]="activeContainer == 'tab8'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="selectUserInfoTab()">User Information</button>
              <button [class]="activeContainer == 'tab9'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab9'">Files</button>
              <button [class]="activeContainer == 'tab10'?'w3-button w3-round-large w3-secondary w3-margin-right-small':'w3-button w3-margin-right-small w3-round-large w3-secondary-theme2'" (click)="activeContainer = 'tab10'">View Chart</button>
            </div>
          </div>
        </div>
        <div *ngIf="((activeContainer == 'tab8') && passwordverified)" class="w3-white">
          <div class="w3-full w3-margin-top w3-margin-right">
            <button type="button" (click)="UserInfoCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
          </div>
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">User Information</h6>
            <div class="w3-row">
              <div class="w3-half">
                <div class="w3-full w3-margin-right">
                  <label>Address</label>
                  <input class="w3-input w3-border" type="text" [(ngModel)]="user.Address">
                </div>
              </div>
              <div class="w3-half">
                <div class="w3-row w3-margin-left">
                  <div class="w3-half">
                    <label>City</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="user.City">
                  </div>
                  <div class="w3-half w3-padding-left-10">
                    <label>State</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="user.State">
                  </div>
                </div>
                <div class="w3-row w3-margin-left">
                  <div class="w3-half">
                    <label>Country</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="user.Country">
                  </div>
                  <div class="w3-half w3-padding-left-10">
                    <label>Zipcode</label>
                    <input class="w3-input w3-border" type="text" [(ngModel)]="user.ZipCode">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="activeContainer == 'tab9'" class="w3-white">
          <app-sf-file-explorer [entity]="entityType" [entityNumber]="entityNumber"></app-sf-file-explorer>
        </div>


        <div *ngIf="activeContainer == 'tab10'" class="w3-white">
          <div class="w3-row">
            <!--<div class="w3-half w3-container">
              <div class="w3-full w3-margin-right">
                <label>Header Chart</label>
                <ng-multiselect-dropdown [placeholder]="'Select Chart'"
                                         [settings]="dropdownSettings"
                                         [data]="listChartItem"
                                         [(ngModel)]="selectedHeaderChart"
                                         (onSelect)="onHeaderSelect($event)"
                                         (onSelectAll)="onHeaderSelectAll($event)"
                                         (onDeSelect)="onHeaderDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
              <div class="w3-full w3-margin-right">
                <label>Dashboard Chart</label>
                <ng-multiselect-dropdown [placeholder]="'Select Chart'"
                                         [settings]="dropdownSettings"
                                         [data]="listChartItem"
                                         [(ngModel)]="selectedDashboardChart"
                                         (onSelect)="onDashboardSelect($event)"
                                         (onSelectAll)="onDashboardSelectAll($event)"
                                         (onDeSelect)="onDashboardDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="w3-half w3-container">
              <div class="w3-full w3-margin-right">
                <label>UserQuote Chart</label>
                <ng-multiselect-dropdown [placeholder]="'Select Chart'"
                                         [settings]="dropdownSettings"
                                         [data]="listChartItem"
                                         [(ngModel)]="selectedUserQuoteChart"
                                         (onSelect)="onUserQuoteSelect($event)"
                                         (onSelectAll)="onUserQuoteSelectAll($event)"
                                         (onDeSelect)="onUserQuoteDeSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>-->
            <div class="w3-third">
              <div class="w3-full w3-margin-right">
                <label class="w3-margin-bottom w3-container">Header Chart</label>
                <div *ngFor="let data of listChartItem; let i = index;">
                  <div class="marginform">
                    <div class="w3-container w3-margin-bottom">
                      <input id="'HC' + {{i}}" type="checkbox" [value]="data.Id" [checked]="CheckSelectedHeaderChartValue(data.Id)" (change)="selectHeaderChar(data)" />
                      <label for="'HC' + {{i}}">&nbsp;{{data.Name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-third">
              <div class="w3-full w3-margin-right">
                <label class="w3-margin-bottom w3-container">Dashboard Chart</label>
                <div *ngFor="let dashboardData of listChartItem; let i = index;">
                  <div class="marginform">
                    <div class="w3-container w3-margin-bottom">
                      <input id="'DC' + {{i}}" type="checkbox" [value]="dashboardData.Id" [checked]="CheckSelectedDashboardChartValue(dashboardData.Id)" (change)="selectDashboardChart(dashboardData)" />
                      <label for="'DC' + {{i}}">&nbsp;{{dashboardData.Name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-third">
              <div class="w3-full w3-margin-right">
                <label class="w3-margin-bottom w3-container">UserQuote Chart</label>
                <div *ngFor="let userData of listChartItem; let i = index;">
                  <div class="marginform">
                    <div class="w3-container w3-margin-bottom">
                      <input id="'UC' + {{i}}" type="checkbox" [value]="userData.Id" [checked]="CheckSelectedUserQuoteChartValue(userData.Id)" (change)="selectUserQuoteChart(userData)" />
                      <label for="'UC' + {{i}}">&nbsp;{{userData.Name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="activeContainer == 'tab7'" class="w3-white" permissionCheck="10.1.1.2.14">
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">Minimum Goal</h6>
            <div class="w3-row">
              <div class="w3-col s3">
                <label>ASP (Average Sale Price)</label>
                <input type="text" class="w3-input w3-border" mask="separator.2" thousandSeparator="," separatorLimit="9999999999999" prefix="$" [(ngModel)]="userGoal.AvarageSalePrice" />
              </div>
              <div class="w3-col s1">&nbsp;</div>
              <div class="w3-col s8">
                <p>
                  The term <strong>average selling price (ASP)</strong> refers to the <strong>price</strong> at which a certain class of good or service is typically sold.<br />
                  <small>
                    The average selling price is affected by the type of product and the product life cycle.
                  </small>
                </p>
                <p>
                  To calculate the <strong>
                    average selling price,
                  </strong> all <strong>
                    you
                  </strong> have to do is divide net <strong>
                    sales
                  </strong> with the number of <strong>
                    products sold.
                  </strong><br />
                  <small>
                    For example, if you sold 100 units and had net sales of $20,000, the average selling price of your products is $200.
                  </small>
                </p>
              </div>
            </div>
            <div class="w3-row w3-margin-top">
              <div class="w3-col s6">
                <table class="w3-table w3-bordered w3-border">
                  <thead>
                    <tr>
                      <th>Range</th>
                      <th>Goal Type</th>
                      <th>
                        Yearly Opp. $ WON
                      </th>
                      <th>
                        Yearly Opp. WON
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Per Year</td>
                      <td>Minimum Goal(Quota)</td>
                      <td><input type="text" class="w3-input w3-border" mask="separator.2" thousandSeparator="," separatorLimit="999999999999" prefix="$" [(ngModel)]="userGoal.MinimalGoalAmount" /></td>
                      <td>{{CalculateNoOfDeals(userGoal.AvarageSalePrice, userGoal.MinimalGoalAmount)}}</td>
                    </tr>
                    <tr>
                      <td>Per Year</td>
                      <td>Good Revenue Goal</td>
                      <td><input type="text" class="w3-input w3-border" mask="separator.2" thousandSeparator="," separatorLimit="999999999999" prefix="$" [(ngModel)]="userGoal.GoodRevenueGoalAmount" /></td>
                      <td>{{CalculateNoOfDeals(userGoal.AvarageSalePrice, userGoal.GoodRevenueGoalAmount)}}</td>
                    </tr>
                    <tr>
                      <td>Per Year</td>
                      <td>Great Revenue Goal</td>
                      <td><input type="text" class="w3-input w3-border" mask="separator.2" thousandSeparator="," separatorLimit="999999999999" prefix="$" [(ngModel)]="userGoal.GreatRevenueGoalAmount" /></td>
                      <td>{{CalculateNoOfDeals(userGoal.AvarageSalePrice, userGoal.GreatRevenueGoalAmount)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="w3-col s1">&nbsp;</div>
              <div class="w3-col s5">
                <table class="w3-table w3-bordered w3-border">
                  <thead>
                    <tr>
                      <th colspan="2">Closing ratio from opportunity to sales(%)</th>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <input type="text" placeholder="%" style="width:50%;" class="w3-input w3-border" suffix="%" mask="000" [(ngModel)]="userGoal.MinimalGoalLead" />
                      </td>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th>Range</th>
                      <th>
                        Weekly Opp. Created
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Minimum per week</td>
                      <td>{{CalculateClosingPercentage(userGoal.AvarageSalePrice, userGoal.MinimalGoalAmount, userGoal.MinimalGoalLead)}}</td>
                    </tr>
                    <tr>
                      <td>Good per week</td>
                      <td>{{CalculateClosingPercentage(userGoal.AvarageSalePrice, userGoal.GoodRevenueGoalAmount, userGoal.MinimalGoalLead)}}</td>
                    </tr>
                    <tr>
                      <td>Great per week</td>
                      <td>{{CalculateClosingPercentage(userGoal.AvarageSalePrice, userGoal.GreatRevenueGoalAmount, userGoal.MinimalGoalLead)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="w3-row w3-margin-top">
              <div class="w3-col s6">
                <table class="w3-table w3-bordered w3-border">
                  <thead>
                    <tr>
                      <th>Range</th>
                      <th>Goal Type</th>
                      <th>
                        Monthly Opp. $ WON
                      </th>
                      <th>
                        Monthly Opp. WON
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Per Month</td>
                      <td>Minimum Goal(Quota)</td>
                      <td>$ {{CalculateGoalAmountPerMonth(userGoal.AvarageSalePrice, userGoal.MinimalGoalAmount) | mask: 'separator':','}}</td>
                      <td>{{CalculateNoOfDealsPerMonth(userGoal.AvarageSalePrice, userGoal.MinimalGoalAmount) | mask: 'separator':','}}</td>
                    </tr>
                    <tr>
                      <td>Per Month</td>
                      <td>Good Revenue Goal</td>
                      <td>$ {{CalculateGoalAmountPerMonth(userGoal.AvarageSalePrice, userGoal.GoodRevenueGoalAmount) | mask: 'separator':','}}</td>
                      <td>{{CalculateNoOfDealsPerMonth(userGoal.AvarageSalePrice, userGoal.GoodRevenueGoalAmount) | mask: 'separator':','}}</td>
                    </tr>
                    <tr>
                      <td>Per Month</td>
                      <td>Great Revenue Goal</td>
                      <td>$ {{CalculateGoalAmountPerMonth(userGoal.AvarageSalePrice, userGoal.GreatRevenueGoalAmount) | mask: 'separator':','}}</td>
                      <td>{{CalculateNoOfDealsPerMonth(userGoal.AvarageSalePrice, userGoal.GreatRevenueGoalAmount) | mask: 'separator':','}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="w3-col s1">&nbsp;</div>
              <div class="w3-col s5">
                <div class="w3-half">
                  <label>Closing ratio calculation range</label>
                  <select class="w3-input w3-border" [(ngModel)]="userGoal.ClosingRatioInterval">
                    <option value="1">Monthly</option>
                    <option value="2">Yearly</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab1'" class="w3-white" permissionCheck="10.1.1.2.14">
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">User Skills</h6>
            <div class="w3-row">
              <app-categorylist [basePermission]="10.1.1.2" [categoryType]="2" [selectedValues]="selectedCategories" [entity]="entityType" title="Skill" [entityId]="entityId" (categoryEmitter)="MapCategoryValues($event)" (dataEmitter)="SkillData($event)"></app-categorylist>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab2'" class="w3-white" permissionCheck="10.1.1.2.15">
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">User Groups</h6>
            <div class="w3-row w3-container" permissionCheck="10.1.1.2.19">
              <div *ngFor="let data of lstGroups; let i = index;" class="w3-quarter">
                <div class="marginform">
                  <div class="w3-full w3-container">
                    <input id={{i}} type="checkbox" [value]="data.UserGroupId" permissionCheck="10.1.1.2.19" [checked]="CheckSelectedValue(data.UserGroupId)" (change)="selectUserGroups($event)" />
                    <label for={{i}}>&nbsp;{{data.Name}}</label>
                  </div>
                </div>
                <!--<label>
                  <input class="w3-check w3-border" type="checkbox" [value]="data.UserGroupId" [checked]="CheckSelectedValue(data.UserGroupId)" (change)="selectUserGroups($event)">&nbsp;{{data.Name}}
                </label>-->
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab3'" class="w3-white" permissionCheck="10.1.1.2.16">
          <div class="w3-full w3-margin-top w3-margin-right">
            <button type="button" (click)="UserCostCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
          </div>
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">User Cost</h6>
            <div class="w3-row w3-container">
              <div class="w3-row">
                <div class="w3-col m2 w3-center w3-container">
                  <div class="w3-margin-bottom w3-left">
                    <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsPerHour=true" [checked]="userCost.IsPerHour ?userCost.IsPerHour:false" />
                    <label>&nbsp;Per&nbsp;hour</label>
                  </div>
                  <div class="w3-margin-bottom">
                    <!--<div class="w3-row">
                      <label class="w3-left w3-margin-left-small">$ {{userCost.PerHourCost}}</label>
                    </div>
                    <input type="range" min="0" max="100" [(ngModel)]="userCost.PerHourCost">-->
                    <input type="text" class="w3-input w3-border" [(ngModel)]="userCost.PerHourCost" placeholder="$" permissionCheck="10.1.1.2.21" />
                  </div>
                  <div>

                  </div>
                </div>




                <div class="w3-col m2 w3-container w3-center">
                  <div class="w3-margin-bottom w3-left">
                    <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsPerLead=true" [checked]="userCost.IsPerLead ?userCost.IsPerLead:false" />
                    <label for="perlead">&nbsp;Per&nbsp;lead</label>
                  </div>
                  <div class="w3-margin-bottom">

                    <input type="text" class="w3-input w3-border" [(ngModel)]="userCost.PerLeadCost" placeholder="$" permissionCheck="10.1.1.2.21" />
                  </div>
                  <div class="w3-margin-bottom">
                  </div>
                </div>

                <div class="w3-col m2 w3-container w3-center">
                  <div class="w3-margin-bottom w3-left">
                    <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsFullTime=true" [checked]="userCost.IsFullTime ?userCost.IsFullTime:false" />
                    <label for="fulltime">&nbsp;Full&nbsp;time</label>

                  </div>
                  <div class="w3-margin-bottom">

                    <!--<input type="text" class="w3-input w3-border" [(ngModel)]="userCost.FullTimeCost" permissionCheck="10.1.1.2.24" />-->
                    <!--<div class="w3-row">
                      <label class="w3-left w3-margin-left-small">$ {{userCost.FullTimeCost}}</label>
                    </div>
                    <input type="range" min="0" max="10000" [(ngModel)]="userCost.FullTimeCost">-->
                    <input type="text" class="w3-input w3-border" [(ngModel)]="userCost.FullTimeCost" placeholder="$" permissionCheck="10.1.1.2.21" />
                  </div>

                  <!--<div class="w3-margin-bottom">
                    <input type="text" class="w3-input w3-border" [(ngModel)]="userCost.FullTimeHours" placeholder="Time" permissionCheck="10.1.1.2.24" />
                  </div>-->
                  <!--<div class="w3-row">
                    <label class="w3-left w3-margin-left-small"><i class="fa fa-clock-o"></i> {{userCost.FullTimeHours}}</label>
                  </div>
                  <input type="range" min="0" max="24" [(ngModel)]="userCost.FullTimeHours" />-->

                  <div class="w3-margin-bottom">
                    <select class="w3-input w3-border" [(ngModel)]="userCost.UserCostDropdownId">
                      <option value="0" disabled="disabled">-select-</option>
                      <option *ngFor="let data of lstUserCostDropdown" value="{{data.Id}}">{{data.Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="w3-col m2 w3-container w3-center">
                  <div class="w3-margin-bottom w3-left">
                    <input type="radio" class="w3-radio" name="costGroup" (click)="userCost.IsPartTime=true" [checked]="userCost.IsPartTime ?userCost.IsPartTime:false" />
                    <label for="parttime">&nbsp;Part&nbsp;time</label>

                  </div>
                  <div class="w3-margin-bottom">
                    <!--<input type="text" class="w3-input w3-border" [(ngModel)]="userCost.PartTimeCost" permissionCheck="10.1.1.2.25" />-->
                    <!--<div class="w3-row">
                      <label class="w3-left w3-margin-left-small">$ {{userCost.PartTimeCost}}</label>
                    </div>
                    <input type="range" min="0" max="100" [(ngModel)]="userCost.PartTimeCost">-->
                    <input type="text" class="w3-input w3-border" [(ngModel)]="userCost.PartTimeCost" placeholder="$" permissionCheck="10.1.1.2.25" />
                  </div>
                  <div class="w3-margin-bottom">
                    <input type="text" class="w3-input w3-border" placeholder="Time" [(ngModel)]="userCost.PartTimeHours" permissionCheck="10.1.1.2.25" />

                    <!--<div class="w3-row">
                      <label class="w3-left w3-margin-left-small"><i class="fa fa-clock-o"></i> {{userCost.PartTimeHours}}</label>
                    </div>
                    <input type="range" min="0" max="24" [(ngModel)]="userCost.PartTimeHours" />-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab4'" class="w3-white" permissionCheck="10.1.1.2.17">
          <div class="w3-full w3-margin-top w3-margin-right">
            <button type="button" (click)="EmpTypeCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
          </div>
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">Employee Type</h6>
            <div class="w3-row">
              <div class="w3-half">
                <div class="w3-full w3-margin-right">
                  <label>Select Type:</label>
                  <app-customdropdown permissionCheck="10.1.1.2.26" [getApiPath]="'CustomDropDown/GetEmployeeType'" [isAddEnabled]="true" [selectedValue]="user.EmployeeTypeId" (saveSelectedValue)="user.EmployeeTypeId=$event" [saveApiPath]="'CustomDropDown/SaveEmployeeType'"></app-customdropdown>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab5'" class="w3-white" permissionCheck="10.1.1.2.18">
          <div class="w3-full w3-margin-top w3-margin-right">
            <button type="button" (click)="CountryCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
          </div>
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">Country</h6>
            <div class="w3-row">
              <div class="w3-half" permissionCheck="10.1.1.2.27">
                <div class="w3-full w3-margin-right">
                  <label>Select Country:</label>
                  <select class="w3-input w3-border" [(ngModel)]="user.CountryId" (ngModelChange)="getStatesByCountryId(user.CountryId)" permissionCheck="10.1.1.2.27">
                    <option value="0" disabled="disabled">-select-</option>
                    <option *ngFor="let data of listCountries" value="{{data.Id}}">{{data.Name}}</option>
                  </select>
                </div>
              </div>
              <div class="w3-half">
                <div class="w3-full w3-margin-left">
                  <label>Select State:</label>
                  <select class="w3-input w3-border" [(ngModel)]="user.StateId">
                    <option value="0" disabled="disabled">-select-</option>
                    <option *ngFor="let data of listStates" value="{{data.Id}}">{{data.Name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeContainer == 'tab6'" class="w3-white">
          <div class="w3-full w3-margin-top w3-margin-right">
            <button type="button" (click)="commisionCustomField()" class="w3-button w3-secondary w3-border w3-round-large w3-right">+ Add New Field</button>
          </div>
          <div class="w3-margin w3-animate-opacity">
            <h6 class="w3-left">Commission</h6>
            <div class="w3-row">
              <div class="w3-half">
                <div class="w3-full w3-margin-right">
                  <label>Percentage</label>
                  <input type="text" mask="000" suffix="%" class="w3-input w3-border" [(ngModel)]="user.Commission" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w3-margin w3-right">
          <button class="w3-button w3-border w3-round-large w3-margin-right" (click)="Cancel()">Cancel</button>
          <button class="w3-button w3-secondary w3-border w3-round-large" [disabled]="checkReqValidation(first)||checkReqValidation(username)||checkReqValidation(last)||checkReqValidation(email)||checkReqValidation(cPassword)||checkReqValidation(password) || checkReqValidation(aPassword) || checkReqValidation(caPassword)" (click)="saveUser(user)">Save</button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngIf="addCustomToggle" class="w3-modal w3-show">
    <div class="w3-modal-content w3-secondary w3-round-large w3-secondary-button">
      <div class="w3-row">
        <div class="w3-container w3-center">
          <p>Add Field</p>
          <span (click)="closeError()" class="w3-button w3-display-topright">&times;</span>
        </div>
        <app-addnewfield [addCustomToggle]="addCustomToggle" [entityTypeId]="entityTypeId" (dataExist)="dataExist($event)" (saveSuccess)="saveSuccess($event)"></app-addnewfield>
      </div>
    </div>
  </div>
</div>
