<div class="w3-row" *ngIf="!fromLogin">
  <button *ngIf="!connected" class="w3-button w3-round-large w3-secondary w3-small" (click)="onLogin()">Connect To Onedrive</button>
  <button *ngIf="connected" class="w3-button w3-round-large w3-orange w3-text-white w3-small" (click)="onLogout()">Disconnect</button>
</div>

<div class="w3-row" *ngIf="fromLogin">
  <button *ngIf="!connected" class="w3-button w3-block w3-mobile w3-secondary w3-border" (click)="onMicrosoftLogin()">Login With Microsoft Account</button>
  <button *ngIf="connected" class="w3-button w3-block w3-mobile w3-border w3-orange w3-text-white">Connected</button>
</div>
