  <div class="w3-card-2 w3-white w3-small w3-margin-left w3-margin-right w3-round-large w3-animate-zoom">
    <div class="w3-container">
      <h4 class="w3-left w3-xlarge w3-margin-top w3-margin-bottom w3-container"><b>Value of won opportunity by rep</b></h4>
      <div class="w3-right w3-margin-top">
        <button class="w3-button w3-margin-right w3-secondary w3-round-large" (click)="cancel()">
          <i class="fa fa-reply"></i>
        </button>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-full">
          <div class="marginform">
            <div class="w3-row">
              <div class="w3-container w3-third">
                <label>Select User *</label>
                <app-assignedtogrid [multiSelect]="true" [assignedToGrid]="assignedToGrid" (sendArrayOfAssignedId)="selectAssignedValue($event)"></app-assignedtogrid>
              </div>
              <div class="w3-container w3-third">
                <label>Opportunity Created Date</label>
                <app-rangeselect [SelectType]="'date'" (selectDateRange)="selectCreatedDates($event)"></app-rangeselect>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="w3-right w3-margin">
        <button class="w3-button w3-border w3-round-large w3-margin-right-small" (click)="cancel()">Back</button>
        <button class="w3-button w3-secondary w3-border w3-round-large w3-margin-right-small" (click)="getWonDealsByRep()">Get Report</button>
        <!--<button *ngIf="listDeal.length > 0" class="w3-button w3-secondary w3-border w3-round-large" (click)="exportCSV()"><i class="fa fa-upload" aria-hidden="true"></i> Export CSV</button>-->
      </div>
      <div class="w3-margin-bottom ">
        <div class="w3-full w3-container">
          <table class="w3-table w3-bordered  w3-border">
            <thead>
              <tr>
                <th>Name</th>
                <th>$ Won</th>
                <th>$ Cost</th>
                <th>$ Profit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lstWondealsbyrep | paginate: { itemsPerPage: 50, currentPage: p }">
                <td>{{data.AssignedUser}}</td>
                <td>{{data.Won}}</td>
                <td>{{data.Cost}}</td>
                <td>{{data.Won - data.Cost}}</td>
              </tr>
              <tr *ngIf="lstWondealsbyrep.length == 0">
                <td>No Records Found.</td>
                <td colspan="3"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination float-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>

    </div>
  </div>
