<!--<div style="margin: 100px;">
  <h1>Voice recognition</h1>
  <button style="margin: 10px;" (click)="startSpeech()">Start</button>
  <button style="margin: 10px;" (click)="stopSpeech()">Stop</button>
  <p>{{speechService.text}}</p>
</div>-->
<!--<div class="w3-row marginform">
  <div class="w3-half app-speech-input">
    <label>Patient Name </label>
    <input tabindex="1" class="w3-input w3-border app-speech-input-form-control form-control ng-untouched ng-pristine ng-valid" type="text" [(ngModel)]="speechService.text" />
    <button *ngIf="!recordStart" (click)="startSpeech()" class="app-speech-input-btn w3-margin-top-large w3-cursor">
      <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
    </button>
    <button *ngIf="recordStart" (click)="stopSpeech()" class="app-speech-input-btn w3-margin-top-large w3-cursor">
      <i class="fa fa-microphone-slash fa-2x" aria-hidden="true"></i>
    </button>
  </div>
</div>-->
<!--<div class="w3-row">
  <div class="w3-card w3-white w3-small w3-margin-left w3-margin-right w3-round-large w3-animate-zoom">
    <br />
    <div class="w3-row w3-padding w3-animate-opacity w3-margin-bottom w3-secondary-l5 w3-border-top w3-border-bottom">
      <div class="w3-left w3-container w3-xlarge"><b>Appointment Dictation</b></div>
      <button class="w3-button w3-secondary w3-right w3-round-large w3-margin-right" (click)="cancel()">
        <i class="fa fa-reply"></i>
      </button>
      <button *ngIf="!recordStart" (click)="startSpeech()" class="w3-button w3-secondary w3-margin-top-large w3-cursor">
        <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
      </button>
      <button *ngIf="recordStart" (click)="stopSpeech()" class="w3-button w3-secondary w3-margin-top-large w3-cursor">
        <i class="fa fa-microphone-slash fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="w3-row marginform">
    <div class="w3-half app-speech-input">
      <label>Patient Name </label>
      <input tabindex="1" class="w3-input w3-border app-speech-input-form-control form-control ng-untouched ng-pristine ng-valid" type="text" [(ngModel)]="speechService.text" />
      
    </div>
  </div>
</div>-->

