<app-alert></app-alert>

<div class="w3-row">
  <div class="w3-third">
    &nbsp;
  </div>
  <div class="w3-third w3-margin-top w3-container">
    <div class="w3-panel w3-card-2 w3-white w3-small">
      <div class="w3-margin">
        <h4 class="w3-center"><strong>LOGIN</strong></h4>
      </div>
      <div class="w3-row w3-padding marginform">

          <div class="w3-full">
            <label>Username/Email</label>
            <input class="w3-input w3-border" [(ngModel)]="twoFactor.Login.UserName" type="text">
          </div>
          <div class="w3-full w3-margin-top">
            <label>Password</label>
            <input class="w3-input w3-border" [(ngModel)]="twoFactor.Login.Password" type="password">
          </div>
          <div *ngIf="userInfo.isValid && userInfo.User.IsTwoFactorEnabled" class="w3-full w3-margin-top">
            <label>Access Code</label>
            <input class="w3-input w3-border" [(ngModel)]="twoFactor.AccessCode" type="text">
          </div>
          <div class="w3-full w3-margin-top">
            <!--<button class="w3-button w3-border w3-round-large w3-margin-right">Cancel</button>-->
            <!--<button (click)="signIn(twoFactor)" class="w3-button w3-block w3-mobile w3-secondary w3-border">{{isValidating?'Validating...':'Login'}}</button>-->
            <div class="w3-margin-top-small">
              <!--<app-onedrive-connect [fromLogin]="true"></app-onedrive-connect>-->
              <button (click)="onMicrosoftLogin()" class="w3-button w3-block w3-mobile w3-secondary w3-border">Login</button>
            </div>
            <!--<div class="w3-margin-top-small">
            <button (click)="signUp()" class="w3-button w3-block w3-mobile w3-secondary w3-border" >Signup</button>
          </div>-->
          </div>
          <div class="w3-full w3-margin-top">
            <div class="w3-left">
              <label>
                <input type="checkbox" name="remember"> Remember me
              </label>
            </div>
            <div class="w3-right">
              <a routerLink="/forgot">Forgot Password?</a>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="w3-third">
      &nbsp;
    </div>
  </div>

<!--<div class="row">
<div class="col-md-3 col-sm-1 col-xs-1"></div>
<div class="col-md-6 col-sm-10 col-xs-10">
  <div class="card">
    <div class="card-header" style="background-color: #fff;">
      <h4 class="text-center">Login</h4>
    </div>
    <div class="card-body">
      <div class="form-group">-->
<!--<label for="exampleInputEmail1">Email address</label>-->
<!--<input type="email" class="form-control form-control-lg border-top-0 border-left-0 border-right-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">-->
<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--</div>
<div class="form-group">-->
<!--<label for="exampleInputPassword1">Password</label>-->
<!--<input type="password" class="form-control form-control-lg border-top-0 border-left-0 border-right-0" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="button" (click)="login()" class="btn btn-lg btn-success btn-block mt-4">Submit</button>
        <div class="text-center">
          <button type="button" class="btn btn-link mt-2">Forgot Password?</button> &nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-1 col-xs-1"></div>
</div>-->
